@font-face {
    font-family: 'yekan';
    src: url('../font/Yekan.woff2') format('woff2'),
         url('../font/Yekan.woff') format('woff'),
         url('../font/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'nastaligh';
  src: url('../font/IranNastaliq.ttf') format('truetype'),;
}

* {
    font-family: 'yekan', sans-serif;
}

:root{
    --black-color: #F8F8F8;
    --dark-green: #E0E0E0;
    --light-green: #9B1B30;
    --light-white: #F1F1F1;
    --txt-color: #1C1C1E;
    --txt-light: #F1F1F1;
}
/* :root{
  --black-color: #1C1C1E;
  --dark-green: #3A3A3C;
  --light-green: #9B1B30;
  --light-white: #f1f1f1;
} */
.bg-very-black{background: var(--black-color);}
.bg-black{background: var(--dark-green);}
.bg-red{background: var(--light-green)!important;}
.txt-black{color: var(--txt-color) !important;}
.txt-lighting{color: var(--txt-light) !important;}
#toggleButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: none;
}

.animationshow{
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
} .animationshow.show {
  opacity: 1;
  transform: translateY(0);
}



body {
    background-color: var(--black-color);
}
.scale0:hover{
  scale: 1!important;
}
.shadower{
    background-color: var(--black-color)!important;
    box-shadow: 0 0 2rem var(--light-green);
}
.navbar{
    background-color: var(--black-color)!important;
    box-shadow: 0 0 2rem var(--light-green);
}

.card-img-top {
    height: 15rem !important;
    object-fit: cover;
    border-radius: 1rem;
}
.carousel-caption {
  background-color: #00000080;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.modal-body {
  text-align: center;
  padding: 1rem;
  max-width: 90%;
  margin: auto;
}
.modal-img {
  width: 100%;
  max-width: 600px;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

.alert {
    margin-bottom: 2rem;
}

.header-tabs {
  position: relative;
  border: none;
  font-size: 16px;
  font-weight: 600;
  backdrop-filter: blur(12px);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  outline: none;
  overflow: hidden;
  transition: box-shadow 0.3s ease, background 0.3s ease, opacity 1s ease, transform 1s ease, scale 0.3s ease!important;
  --mouse-x: 50%;
  --mouse-y: 50%;
}

.header-tabs::after {
  content: '';
  position: absolute;
  top: var(--mouse-y);
  left: var(--mouse-x);
  width: 0;
  height: 0;
  background: #ffffff4d;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  transition: width 0.6s ease, height 0.6s ease, opacity 1s ease;
}
.header-tabs.light-mode::after {
  background: #000000da; /* تیره برای لایت‌مود */
}


.header-tabs.clicked {
  transform: scale(0.98);
}

.header-tabs.clicked::after {
  width: 300%;
  height: 300%;
  opacity: 0.3;
}


.header-tabs:hover {
  transform: scale(1.025);
}


  #rotate-icon.rotated {
    transform: rotate(-90deg);
  }
  
  .inputs {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: var(--light-white);
    background-color: var(--dark-green);
    transition: all .3s ease;
    overflow: visible;
  }
  
  .inputs::placeholder{
    transition: all .4s ease;
    z-index: 500;
  }
  
  .inputs:focus::placeholder{
    transform: translate(0, -60px);
  }
  
  .inputs:focus {
    outline: none;
    box-shadow: 0 0 1rem var(--light-green);
    background-color: var(--dark-green);
  }

  .form-select{
    border: none !important;
    background-color: var(--black-color);
    cursor: pointer;
  }
  .form-select:focus{
    outline: none;
    box-shadow: 0 0 1rem var(--light-green);
    transition: all .25 ease;
}
.form-select:active{
  scale: .95;
}

  .productes{
    background-color: var(--dark-green)!important;
    border: none !important;
    border-radius: 1rem !important;
    box-shadow: 0 0 1rem var(--light-green);
  }
.productes:hover{scale: 1.02;}
.productes:active{scale: .97;}

.left-button{
    border-radius: 0 2rem 2rem 0 !important;
}

.img-fluid{
   border-radius: 2rem !important;
}

.signuper{
  border: none;
  box-shadow: 0 0 1rem var(--light-green);
  border-radius: 2rem !important;
}

table {
	width: auto;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: var(--black-color);
	color: #fff;
}

th {
	text-align: left;
}

thead {
	th {
		background: var(--dark-green);
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}
}

.tamas-img{
  transform-style: preserve-3d;
  perspective: 20px;
}

.toast-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 1000;
}

.toast-message.show {
  opacity: 1;
  visibility: visible;
}

.carousel{
  width: 50%;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* محدود به سه خط */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-height: 4.5em; /* متناسب با تعداد خطوط */
  color: #6c757d; /* رنگ خاکستری تیره‌تر برای نمایش پیش‌نمایش */
  font-style: italic; /* برای حس پیش‌نمایش */
}

.bottom-div{
  box-shadow: 0 0 1rem var(--light-green), 0 0 1rem var(--light-green), 0 0 1rem var(--light-green);
}

.toggle-btn i {
  transition: transform 0.3s ease; /* انیمیشن برای چرخش */
}

.rotated {
  transform: rotate(-90deg); /* چرخش دکمه */
}

.subcategories {
  padding-left: 20px;
  z-index: 9999;
  background-color: var(--black-color);
  box-shadow: 0 0 2rem var(--light-green);
}

.bi-chevron-up, .bi-chevron-down {
  transition: transform 0.3s ease;
}

.prod{
  z-index: 1;
}

.categor:hover{
  scale: 1.01;
}

.chooser{
  background-color: var(--black-color);
  box-shadow: 0 0 1rem var(--light-green);
}

.preserve-format {
  white-space: pre-wrap;
}

.toast-message {
  position: fixed;
  height: 4rem;
  width: 50%;
  bottom: 20px;
  right: 25%;
  background-color: #2e7d32;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transform: translateY(20px);
  transition: all .3s ease;
  z-index: 9999;
}

.toast-message.show {
  opacity: 1;
  transform: translateY(0);
}

#ansazeh{transition: all 0.3s ease;}

.chat-container {
  background-color: var(--dark-green);
  padding: 20px;
  border-radius: 12px;
  max-width: 700px;
  max-height: 75vh;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chat-header {
  color: var(--txt-color);
  margin-bottom: 20px;
  font-size: 20px;
  border-bottom: 2px solid var(--dark-green);
  padding-bottom: 10px;
}

.chat-box{
  overflow-y: auto;
  max-height: 80vh;
}

.chat-message {
  display: inline-block;
  max-width: 70%;
  padding: 10px 15px;
  border-radius: 15px;
  position: relative;
  word-wrap: break-word;
}

.chat-message.you {
  background-color: var(--light-green);
  color: white;
  justify-content: end;
  border-bottom-right-radius: 0;
}

.chat-message.other {
  background-color: var(--black-color);
  color: var(--txt-color);
  justify-content: start;
  border-bottom-left-radius: 0;
}

.message-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.message-container.own-message{
  justify-content: start;
}
.message-container.other-message{
  justify-content: end;
}

.message-container.active .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--black-color);
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
  z-index: 100;
  top: 100%;
  right: 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.dropdown-menu button {
  display: block;
  background: none;
  border: none;
  padding: 8px 12px;
  width: 100%;
  text-align: right;
  cursor: pointer;
}

.dropdown-menu button:hover {
  background-color: #f0f0f0;
}

/* فرم ارسال پیام */
.chat-form {
  display: flex;
  gap: 10px;
}

.chat-form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid var(--dark-green);
  border-radius: 8px;
  color: var(--txt-color);
}

.chat-form button {
  padding: 10px 20px;
  background-color: var(--light-green);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.chat-form button:hover {
  background-color: #801524;
}


#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #1C1C1E;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.6s ease, visibility 0.6s ease;
}

body.loaded #loader {
  opacity: 0;
  visibility: hidden;
}


.loader-div {
  width: 0.5rem;
  height: 5rem;
  background-color: var(--light-white);
  margin: 0 1rem;
  animation: wave 1s ease-in-out infinite;
  transform-origin: bottom;
}

@keyframes wave {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.8);
  }
}

.password-wrapper {
  position: relative;
}
.password-wrapper input {
  padding-right: 0; /* فضای جا دادن آیکن سمت راست */
}
.password-toggle {
  position: absolute;
  top: 10%;
  left: 2%;
  background: none;
  border: none;
  cursor: pointer;
  color: #6c757d;
  font-size: 1.2rem;
}
.password-toggle:focus {
  outline: none;
  box-shadow: none;
}

/* موجی کردن با تاخیر مرحله‌ای */
.loader-div:nth-child(1) { animation-delay: 0s; }
.loader-div:nth-child(2) { animation-delay: 0.1s; }
.loader-div:nth-child(3) { animation-delay: 0.2s; }
.loader-div:nth-child(4) { animation-delay: 0.3s; }
.loader-div:nth-child(5) { animation-delay: 0.4s; }
.loader-div:nth-child(6) { animation-delay: 0.5s; }
.loader-div:nth-child(7) { animation-delay: 0.6s; }
.loader-div:nth-child(8) { animation-delay: 0.7s; }
.loader-div:nth-child(9) { animation-delay: 0.8s; }
.loader-div:nth-child(10){ animation-delay: 0.9s; }

@keyframes spin {
  to { transform: rotate(360deg); }
}

.rotater {
  animation: rotate360 1.5s linear infinite;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}



@media (max-width: 992px) {
  .categorys-container{
    width: 100%!important;
  }
}
@media (max-width: 768px) {
  /* تنظیم فرم جستجو در حالت موبایل */
  form.d-flex {
      flex-direction: column;
      align-items: stretch;
  }

  form.d-flex input,
  form.d-flex select,
  form.d-flex button {
      width: 100%;
      margin-bottom: 10px;
  }

  /* اسکرول افقی برای جدول */
  table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
  }

  /* دکمه‌های عملیات زیر هم باشند */
  td.d-flex {
      flex-direction: column;
      align-items: stretch;
  }

  td.d-flex a,
  td.d-flex form {
      width: 100%;
      margin-bottom: 5px;
  }

  /* تنظیم فرم افزودن دسته‌بندی */
  form[action="{{ url_for('main.add_category') }}"] {
      display: flex;
      flex-direction: column;
      align-items: stretch;
  }

  form[action="{{ url_for('main.add_category') }}"] input,
  form[action="{{ url_for('main.add_category') }}"] button {
      width: 100%;
      margin-bottom: 10px;
  }
  #floatingChatButton {
    bottom: 100px!important;
  }
}
@media (max-width: 400px) {
  .displayer{
    display: none!important;
  }
  #floatingChatButton {
    bottom: 70px!important;
  }
}
@media (max-width: 350px) {
  .loader-div{
    margin: 0 0.5rem;
  }
  #floatingChatButton {
    bottom: 190px!important;
  }
}

.category-menu {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
}

.category-item {
  width: 80px;
  text-decoration: none;
  color: #333;
}

.category-icon {
  width: 40px;
  height: 40px;
}

.searcher:focus{
  box-shadow: -1rem 0 1rem var(--light-green);
}

:root {
  --vh: 100%;
}

.chat-box {
  flex: 1 1 auto;  /* فضای باقی‌مانده رو اشغال کن */
  overflow-y: auto;
  max-width: 600px;
  margin: auto;
  background: var(--black-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 2rem var(--light-green);
}
.ccp{
  flex-shrink: 0; /* فرم همیشه اندازه خودش رو حفظ کنه */
  width: 100%;
}
.message { margin: 10px 0; padding: 10px; border-radius: 8px; max-width: 70%; }
.sent { background: var(--light-green); align-self: flex-end; margin-left: auto; }
.received { background: var(--dark-green); align-self: flex-start; margin-right: auto; }
.chat { display: flex; flex-direction: column; gap: 10px;  height: 30rem; overflow-y: auto; }
.myform { display: flex; margin-top: 20px; }
.myinput[type="text"] { flex-grow: 1; padding: 10px; border-radius: 8px;}
.mybtn { padding: 10px 20px; border: none; background: var(--light-green); color: white; border-radius: 8px; margin-right: 10px; }
.refreshbtn{
  top: 20%;
  left: 20%;
  z-index: 9999;
}

.custom-file-upload {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 15px;
    background-color: var(--light-green);
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.custom-file-upload:hover {
    background-color: var(--dark-green);
}
.custom-file-upload i {
    font-size: 1.2rem;
}
input[type="file"] {
    display: none;
}

.privacy-container {
      max-width: 800px;
      margin: 40px auto;
      background: #fff;
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    }

    .privacy-title {
      font-size: 26px;
      color: #222;
      margin-bottom: 25px;
      font-weight: bold;
    }

    .privacy-section-title {
      font-size: 20px;
      color: #444;
      margin-top: 30px;
      margin-bottom: 15px;
      font-weight: bold;
    }

    .privacy-text {
      margin: 12px 0;
      font-size: 16px;
      line-height: 1.9;
    }

    .privacy-list {
      padding-right: 20px;
      margin-top: 10px;
    }

    .privacy-list li {
      margin-bottom: 8px;
      font-size: 15.5px;
    }

    .btn-privacy-policy {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-privacy-policy:hover {
  background-color: #388e3c;
}

/* انیمیشن برای باز شدن صفحه */
.slide-in {
    position: fixed;
    top: 0;
    right: -100%; /* ابتدا صفحه پنهان است */
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1050;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
}

/* زمانی که صفحه به صورت کشویی وارد می‌شود */
.slide-in.open {
    right: 0;
}

/* دکمه بستن صفحه */
.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
    z-index: 1060;
}

.navbar-toggler.txt-black:focus,
.navbar-toggler.txt-black:active,
.navbar-toggler.txt-black:focus-visible {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

.shadower{
  box-shadow: 0 0 1rem var(--light-green),
  inset 0 0 0.5rem var(--light-green);
  transition: scale .5s ease!important;
}.shadower:hover{
  transform: scale(1.025);
}

.shadower-light{
  box-shadow: 0 0 1rem #ffffff3b,
  inset 0 0 0.5rem var(--light-green);
}

.page-transition {
  transition: transform 0.3s ease;
  will-change: transform;
}

#floatingChatButton {
  position: fixed; /* مهم: برای شناور ماندن */
  bottom: 0;    /* فاصله از پایین صفحه */
  left: 20px;      /* فاصله از چپ صفحه */
  z-index: 1030;   /* برای اطمینان از اینکه روی سایر عناصر قرار می‌گیرد (معمولاً z-index مدال‌های بوت‌استرپ 1050+ است، پس اگر با مدال تداخل داشت این را بیشتر کنید) */
  width: 60px;     /* عرض دکمه */
  height: 60px;    /* ارتفاع دکمه */
  padding: 0;      /* برای اینکه آیکون در مرکز قرار بگیرد */
  display: flex;   /* برای وسط‌چین کردن آیکون */
  align-items: center;
  justify-content: center;
  /* می‌توانید رنگ پس‌زمینه و رنگ آیکون را اینجا سفارشی کنید */
  background-color: var(--light-green); /* استفاده از متغیر رنگی شما، یا یک رنگ ثابت مثل #9B1B30 */
  border: none; /* حذف حاشیه پیش‌فرض دکمه */
  transition: all 0.3s ease;
}

#floatingChatButton i {
  font-size: 1.8rem; /* اندازه آیکون داخل دکمه */
  color: white;     /* رنگ آیکون، می‌توانید از var(--txt-color) هم استفاده کنید اگر سفید است */
}

/* تغییر ظاهر دکمه هنگام هاور (اختیاری) */
#floatingChatButton:hover {
  background-color: #7a1526; /* کمی تیره‌تر کردن رنگ var(--light-green) شما به صورت دستی */
  opacity: 0.9;
  width: 12rem;
  border-radius: 2rem!important;
}
#floatingChatButton .chat-label {
  max-width: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-width 0.4s ease, opacity 1s ease;
}

#floatingChatButton:hover .chat-label {
  max-width: 200px;
  opacity: 1;
  margin-right: 0.5rem;
}

#floatingChatButton:active {
  scale: 0.9;
}