{% for product in products %}
<div class="col animationshow">
    <a href="{{ url_for('main.product_detail', product_id=product.id) }}" class="divar-card-horizontal-link header-tabs">
        
        {% if product.images and product.images[0].image_path %}
            {% set path = 'uploads/' + product.images[0].image_path %}
            {% set image_url = url_for('static', filename=path) %}
        {% elif product.image_path %}
            {% set path = 'uploads/' + product.image_path %}
            {% set image_url = url_for('static', filename=path) %}
        {% else %}
            {% set image_url = url_for('static', filename='images/placeholder.png') %}
        {% endif %}
        <img src="{{ image_url }}" class="divar-card-img" alt="{{ product.name }}" loading="lazy">
            





        <div class="divar-card-body py-0 pt-2 px-2">
            <h3 class="divar-card-title txt-black">{{ product.name }}</h3>
            
            <p class="divar-card-meta txt-black">
                {% if product.promoted_until and product.promoted_until > datetime.utcnow() %}
                    <span style="color: #00A478; font-weight: 500;">
                        <i class="bi bi-check-circle-fill"></i> نردبان شده
                    </span>
                {% else %}
                    در {% if product.address %}{{ product.address }}{% else %}استوک{% endif %}
                {% endif %}
            </p>

            <p class="divar-card-price txt-black">
                {% if product.price %}
                    {{ "{:,.0f}".format(product.price) }} تومان
                {% else %}
                    توافقی
                {% endif %}
            </p>
        </div>
    </a>
    <hr class="txt-black">
</div>
{% else %}
    <div class="col-12">
        <p class="text-center txt-black py-5">محصولی با این مشخصات یافت نشد.</p>
    </div>
{% endfor %}