<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}استوک{% endblock %}</title>

    <meta name="theme-color" content="#9B1B30">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/Icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <script src="/static/js/theme.js" defer></script>
    <script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootst/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootst/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootst/css/bootstrap-utilities.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootst/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/select2.min.css') }}">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" xintegrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}" xintegrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/bootstrap-icons.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/select2.min.css') }}"> -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    

    <style>
        .spinner {
          width: 32px;
          height: 32px;
          border: 4px solid #ccc;
          border-top: 4px solid var(--light-green);
          border-radius: 50%;
          animation: spin 1s linear infinite;
          background: transparent;
          position: fixed;
          top: -60px;
          left: 80%;
          transform: translateX(-80%);
          transition: top 0.3s ease;
          z-index: 10000;
        }
        
        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }
        
        .bottom-nav {
            background-color: var(--black-color);
            width: 100%;
            box-shadow: 0 -0.5rem 2rem var(--light-green);
            padding: 0 0 0 1rem;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1030;
        }

        .bottom-nav .nav-item { flex-grow: 1; }
        .custom-icon {
            width: 48px;
            height: 48px;
            color: var(--text-color);
        }
        .custom-icon .primary-part {
            fill: currentColor;
            opacity: 1;
        }
        .custom-icon .secondary-part {
            fill: currentColor;
            opacity: 0.6;
        }

        /* <<<< شروع تغییر ۱: اضافه کردن position: relative >>>> */
        .bottom-nav .nav-link {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 0.75rem;
            position: relative; /* این خط اضافه شد */
        }
        
        .bottom-nav .nav-link i {
            font-size: 1rem;
            margin-bottom: 4px;
        }
        .fab-container {
            position: relative;
            width: 70px;
            display: flex;
            justify-content: center;
        }
        
        
        .fab {
            background-color: var(--light-green);
            color: var(--white-color);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.8rem;
            box-shadow: 0 4px 12px rgba(0,0,0,0.2);
            position: absolute;
            bottom: 15px;
            transition: all 0.3s ease;
        }
        .fab:hover {
            transform: translateY(-2px);
            box-shadow: 0 6px 16px rgba(0,0,0,0.25);
            color: var(--white-color);
        }
        .fab-menu {
        position: absolute;
        bottom: 80px; /* بالای دکمه اصلی */
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;
    }

    .fab-menu.active {
        visibility: visible;
        opacity: 1;
    }

    .fab-menu-item {
        background-color: var(--light-green);
        color: var(--white-color);
        padding: 8px 16px;
        border-radius: 20px;
        font-size: 0.9rem;
        text-decoration: none;
        white-space: nowrap;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    #fab-main-button i {
        transition: transform 0.3s ease-in-out;
    }
    #fab-main-button.active i {
        transform: rotate(45deg);
    }
        .category-icon {
            width: 32px;
            height: 32px;
            color: var(--text-color);
            stroke-width: 1.5;
        }
        .select2-container--default .select2-selection--single {
            height: 38px;
            background-color: var(--dark-green);
            border: 1px solid var(--dark-green);
            border-radius: 0.375rem;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 36px;
            padding-left: 12px;
            background-color: var(--dark-green);
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 36px;
            background-color: var(--dark-green);
        }
        .select2-results__option {
            padding: 6px;
            user-select: none;
            -webkit-user-select: none;
            background-color: var(--dark-green);
        }
        .select2-results__option .logo-image {
            height: 35px;
            margin-left: 15px;
            vertical-align: middle;

        }
        .select2-selection__rendered .logo-image {
            height: 24px;
            margin-left: 5px;
            vertical-align: middle;
        }

        /* <<<< شروع تغییر ۲: تنظیم موقعیت نقطه نسبت به والد جدید >>>> */
        .notification-dot {
            position: absolute;
            top: 2px; /* تنظیم فاصله از بالا */
            right: 15px; /* تنظیم فاصله از راست */
            width: 10px;
            height: 10px;
            background-color: #9B1B30;
            border-radius: 50%;
            border: 2px solid var(--black-color);
            display: none; /* در ابتدا مخفی */
        }
        .header-tabs .notification-dot {
            top: 5px;
            left: 5px;
            right: auto;
        }
        </style>
        <link rel="stylesheet" href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css">
        {% block page_styles %}{% endblock %}
</head>
<body class="{{ 'chat-page' if 'chat.html' in request.path else '' }}">

    <div id="loader">
        <img src="/static/images/noBgWhite(1)cut.png" alt="" style="width: 30%;">
        <img class="rotater" src="/static/images/noBgWhite(1)cut3.png" alt="" style="width: 20%;">
    </div>

    <script>document.body.classList.add('is-loading');</script>

    <div id="page-refresh-loader">
        <div class="refresh-spinner"></div>
        <span>در حال اتصال...</span>
    </div>
    

    <nav class="navbar navbar-expand-md mb-4 sticky-top p-0 pb-lg-2 {{ 'd-none' if 'chat.html' in request.path else '' }}" style="padding-top: 90px;">
        <div class="w-100 m-0">
            <div class="collapse navbar-collapse ms-0" id="navbarNav">

                <a class="navbar-brand text-light txt-black" href="{{ url_for('main.index') }}" style="font-size: 3rem;">استوک</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="d-lg-flex d-md-none d-sm-none w-100" action="{{ url_for('main.index') }}" method="GET">
                    <div class="d-flex w-75 m-auto gap-2 align-items-center">
                        <!-- <div class="dropdown w-25">
                            <button class="btn dropdown-toggle w-100 p-2 txt-black chooser" type="button"
                                    id="provinceDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <span>انتخاب استان</span>
                            </button>
                            <ul class="dropdown-menu w-100 p-2" aria-labelledby="provinceDropdown"
                                id="provinceList" style="max-height: 20rem; overflow-y: auto; z-index:9999; background-color: var(--black-color);">
                                <li>
                                    <input type="text" id="provinceSearch" class="form-control mb-2"
                                           placeholder="جستجوی استان..." onkeyup="filterProvinces()" onclick="event.stopPropagation();">
                                </li>
                                <li><a class="dropdown-item txt-black" href="https://stockdivar.ir" onclick="selectProvince('desktop', '')">همه استان ها</a></li>
                                {% for province in provinces %}
                                <li class="province-item text-end"><a class="dropdown-item txt-black" href="#" onclick="selectProvince('desktop', '{{ province }}')">{{ province }}</a></li>
                                {% endfor %}
                            </ul>
                            <input type="hidden" name="province_search" id="provinceInput" value="{{ request.args.get('province_search', '') }}">
                        </div>
                    
                        <div class="dropdown w-25">
                            <button class="btn dropdown-toggle w-100 p-2 txt-black chooser" type="button" id="cityDropdown"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                انتخاب شهر
                            </button>
                            <ul class="dropdown-menu w-100 p-2" aria-labelledby="cityDropdown"
                                id="cityList" style="max-height: 20rem; overflow-y: auto; background-color: #3A3A3C;">
                                <li><a class="dropdown-item txt-black" href="#" onclick="selectCity('desktop', '')">انتخاب شهر</a></li>
                            </ul>
                            <input type="hidden" name="city_search" id="cityInput" value="{{ request.args.get('city_search', '') }}">
                        </div> -->
                    
                        <div class="input-group w-75 me-2 d-flex flex-nowrap">
                            <input id="search-input-desktop" class="inputs txt-black mt-2 rounded-3 h-75" type="search" placeholder="نام محصول، برند و آدرس مورد نظر را جست و جو کنید..." name="search"
                                value="{{ request.args.get('search', '') }}">
                                <!-- <a href="{{ url_for('main.chatbot_page_render') }}" class="btn btn-lg rounded-2 w-25 pt-2" id="floatingChatButton1" title="چت با هوش مصنوعی">
                                    <svg width="60" height="60" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                      <defs>
                                        <linearGradient id="sparkleGrad" x1="0" y1="0" x2="1" y2="1">
                                          <stop offset="0%" stop-color="#4facfe"/>
                                          <stop offset="100%" stop-color="#8e2de2"/>
                                        </linearGradient>
                                      </defs>
                                      <path d="M12 2L13.5 8.5L20 10L13.5 11.5L12 18L10.5 11.5L4 10L10.5 8.5L12 2Z"
                                            fill="url(#sparkleGrad)"/>
                                    </svg>
                                  </a> -->
                        </div>
                    </div>
                </form>
                <input type="file" id="imageSearchInput" accept="image/*" style="display: none;">
                <div id="imageSearchSpinner" class="spinner-border text-primary" role="status" style="display: none; position: fixed; top: 50%; left: 50%;">
                    <span class="visually-hidden">در حال بارگذاری...</span>
                </div>

                <ul class="navbar-nav pe-0 me-auto w-auto float-start ms-2">
                    <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                        <a class="nav-link text-light m-0 p-0 w-100 h-100 d-block txt-black" href="{{ url_for('main.index') }}">
                            <i class="bi bi-cart3 txt-lighter fs-3 m-0 p-0 me-1"></i> 
                            <span>محصولات</span>
                        </a>
                    </li>

                    <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                        <a class="nav-link text-light m-0 p-0 w-100 h-100 d-block txt-black" href="{{ url_for('main.conversations') }}">
                            <i class="bi bi-chat-left-text txt-lighter fs-3 m-0 p-0 me-1"></i> 
                            <span class="text-nowrap">گفت و گو</span>
                            <span id="global-unread-indicator-desktop" class="notification-dot"></span>
                        </a>
                    </li>
                    
                    {% if current_user.is_authenticated %}
                        <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                            <a class="nav-link text-light m-0 p-0 w-100 h-100 d-block txt-black" href="{{ url_for('main.dashboard') }}">
                                <i class="bi bi-person txt-lighter fs-3 m-0 p-0 me-1"></i> 
                                <span class="text-nowrap">استوک من</span>
                            </a>
                        </li>
                        <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                            <a href="{{ url_for('main.new_product') }}" class="nav-link text-light m-0 p-0 w-100 h-100 d-block txt-black">
                                <i class="bi bi-plus-square txt-lighter fs-3 m-0 p-0 me-1"></i> 
                                <span style="white-space: nowrap;">محصول جدید</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    {% if current_user.is_admin %}
                        <li class="nav-item header-tabs pt-1 pb-2 pe-3 ps-3 text-center font-300 position-relative">
                            <a class="nav-link text-danger m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.admin_dashboard') }}">
                                <i class="bi bi-kanban text-danger fs-3 m-0 p-0 w-100 me-2"></i>
                                <span>مدیریت</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    {% if current_user.is_authenticated %}
                        <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                            <a class="nav-link text-danger m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.logout') }}">
                                <i class="bi bi-box-arrow-left text-danger fs-3 m-0 p-0 me-1"></i> 
                                <span>خروج</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                            <a class="nav-link text-success m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.login_with_phone') }}">
                                <i class="bi bi-box-arrow-in-left text-success fs-3 m-0 p-0 me-1"></i><br>
                                <span>ورود/ثبت نام</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    

    <div class="container m-0">
        {% block content %}{% endblock %}
    </div>

   
    
    <div id="custom-popup" class="custom-popup-class">
        <a id="copy-whatsapp-number" target="_blank" class="popover-link nav-link">
            <i class="bi bi-whatsapp" style="color: #25D366;"></i>
            <span class="txt-black">شماره واتساپ بازخورد</span>
        </a><br>
        <a href="https://stockheydari.ir/abut-us/" target="_blank" class="popover-link nav-link">
            <i class="bi bi-telephone" style="color: #007bff;"></i>
            <span class="txt-black">درباره ما</span>
        </a>
    </div>

    <div class="bottom-nav d-md-none">
    <ul class="navbar-nav flex-row align-items-center w-100">
        <li class="nav-item header-tabs">
            <a style="font-size: .7rem;" class="nav-link active txt-black" href="{{ url_for('main.index') }}">
                <i class="bi bi-house-door"></i>
                <span>خانه</span>
            </a>
        </li>
        <li class="nav-item header-tabs">
            <a href="#" id="open-contact-sheet-btn" style="font-size: .7rem;" class="nav-link txt-black">
                <i class="bi bi-headset"></i>
                <span>پشتیبانی</span>
            </a>
        </li>
        <div class="fab-container">
            <div id="fab-menu" class="fab-menu">
                <a href="{{ url_for('main.new_product') }}" class="fab-menu-item txt-black">ثبت محصول</a>
                <a href="{{ url_for('main.new_job_ad_choice') }}" class="fab-menu-item txt-black">ثبت آگهی استخدام/کاریابی</a>
            </div>
        
            <a href="#" id="fab-main-button" class="fab pt-1 pb-0" title="ثبت جدید">
                <i class="bi bi-plus-lg text-light"></i>
            </a>
        </div>
       <li class="nav-item header-tabs">
            <a style="font-size: .7rem;" class="nav-link txt-black" href="{{ url_for('main.categories_page') }}">
                <i class="bi bi-grid-3x3-gap"></i>
                <span>دسته‌ها</span>
            </a>
        </li>
        <li class="nav-item header-tabs">
            <a style="font-size: .7rem;" class="nav-link txt-black" href="{{ url_for('main.dashboard') if current_user.is_authenticated else url_for('main.login_with_phone') }}">
                <i class="bi bi-person"></i>
                <span>استوک من</span>
            </a>
        </li>
    </ul>
</div>

        <div id="contact-sheet-overlay" class="sheet-overlay"></div>
        <div id="contact-sheet" class="contact-sheet-container">
            <div class="sheet-handle"></div>
            <div class="sheet-header">
                <h5 class="mb-0 txt-black">اطلاعات تماس</h5>
                <button id="close-sheet-btn" class="btn-close"></button>
            </div>
            <div class="sheet-body pb-3">
                <div class="seller-info">
                    <span class="info-label txt-black" style="font-size: 1rem;">ارتباط با توسعه دهنده:</span>
                    <span id="devnumber" class="info-value txt-black">09228192173</span>
                </div>
                <div class="seller-info py-0">
                    <a href="https://stockheydari.ir/abut-us/" style="backdrop-filter: blur(15px);" class="text-center rounded-2 w-100 h-100 py-2 header-tabs link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">درباره ما</a>
                </div>
                <button id="copy-button" class="btn btn-primary w-100 mt-4" onclick="copyText(this.document.getElementById('devnumber').innerText)">
                    <i class="bi bi-copy me-2"></i>
                    <span class="copy-text">کپی کردن شماره</span>
                </button>
            </div>
        </div>
        <script>
            var citiesByProvince = {
                "آذربایجان شرقی": ["تبریز","اسکو","اهر","بستان‌آباد","بناب","جلفا","چاراویماق","خداآفرین","سراب","شبستر","عجب‌شیر","کلیبر","مراغه","مرند","ملکان","میانه","ورزقان","هریس","هشترود"],
                "آذربایجان غربی": ["ارومیه","اشنویه","بوکان","پلدشت","پیرانشهر","تکاب","چالدران","چایپاره","خوی","سردشت","سلماس","شاهین‌دژ","شوط","ماکو","مهاباد","میاندوآب","نقده"],
                "اردبیل": ["اردبیل","بیله‌سوار","پارس‌آباد","خلخال","سرعین","کوثر","گرمی","مشگین‌شهر","نمین","نیر"],
                "اصفهان": ["اصفهان","آران و بیدگل","اردستان","برخوار","بوئین و میاندشت","تیران و کرون","چادگان","خمینی‌شهر","خوانسار","خور و بیابانک","دهاقان","سمیرم","شاهین‌شهر و میمه","شهرضا","فریدن","فریدون‌شهر","فلاورجان","کاشان","گلپایگان","لنجان","مبارکه","نائین","نجف‌آباد","نطنز"],
                "البرز": ["کرج","اشتهارد","ساوجبلاغ","طالقان","فردیس","نظرآباد"],
                "ایلام": ["ایلام","آبدانان","ایوان","بدره","چرداول","دره‌شهر","دهلران","سیروان","ملکشاهی","مهران"],
                "بوشهر": ["بوشهر","تنگستان","جم","دشتستان","دشتی","دیر","دیلم","کنگان","گناوه"],
                "تهران": ["تهران","اسلامشهر","بهارستان","پاکدشت","پردیس","پیشوا","دماوند","رباط‌کریم","ری","شمیرانات","شهریار","فیروزکوه","قدس","قرچک","ملارد","ورامین"],
                "چهارمحال و بختیاری": ["شهرکرد","اردل","بروجن","بن","سامان","فارسان","کوهرنگ","کیار","لردگان"],
                "خراسان جنوبی": ["بیرجند","بشرویه","خوسف","درمیان","زیرکوه","سرایان","سربیشه","طبس","فردوس","قائنات","نهبندان"],
                "خراسان رضوی": ["مشهد","بردسکن","بجستان","تایباد","تربت جام","تربت حیدریه","چناران","خلیل‌آباد","خواف","درگز","رشتخوار","زاوه","سبزوار","سرخس","فریمان","قوچان","کاشمر","کلات","گناباد","مه‌ولات","نیشابور"],
                "خراسان شمالی": ["بجنورد","اسفراین","جاجرم","راز و جرگلان","شیروان","فاروج","گرمه","مانه و سملقان"],
                "خوزستان": ["اهواز","آبادان","امیدیه","اندیکا","اندیمشک","ایذه","باغ‌ملک","باوی","بهبهان","حمیدیه","خرمشهر","دزفول","دشت آزادگان","رامشیر","رامهرمز","شادگان","شوش","شوشتر","کارون","گتوند","لالی","ماهشهر","مسجدسلیمان","هفتکل","هندیجان","هویزه"],
                "زنجان": ["زنجان","ابهر","ایجرود","خدابنده","خرمدره","سلطانیه","طارم","ماهنشان"],
                "سمنان": ["سمنان","دامغان","سرخه","شاهرود","گرمسار","مهدی‌شهر","میامی"],
                "سیستان و بلوچستان": ["زاهدان","ایرانشهر","چابهار","خاش","دلگان","زابل","زهک","سراوان","سرباز","سیب و سوران","فنوج","قصرقند","کنارک","مهرستان","میرجاوه","نیک‌شهر"],
                "فارس": ["شیراز","آباده","ارسنجان","استهبان","اقلید","بوانات","پاسارگاد","جهرم","خرامه","خنج","داراب","زرین‌دشت","سروستان","سپیدان","فراشبند","فسا","فیروزآباد","قایمیه","قیر و کارزین","کازرون","گراش","لارستان","لامرد","مرودشت","ممسنی","نی‌ریز"],
                "قزوین": ["قزوین","آبیک","البرز","بوئین‌زهرا","تاکستان","آوج"],
                "قم": ["قم"],
                "کردستان": ["سنندج","بانه","بیجار","دیواندره","دهگلان","سروآباد","سقز","قروه","کامیاران","مریوان"],
                "کرمان": ["کرمان","ارزوئیه","انار","بافت","بردسیر","بم","جیرفت","رابر","راور","رودبار جنوب","ریگان","زرند","سیرجان","شهربابک","عنبرآباد","فاریاب","فهرج","قلعه گنج","کوهبنان","کهنوج","منوجان"],
                "کرمانشاه": ["کرمانشاه","اسلام‌آباد غرب","پاوه","ثلاث باباجانی","جوانرود","دالاهو","روانسر","سرپل ذهاب","سنقر","صحنه","قصر شیرین","کرند غرب","کنگاور","گیلانغرب","هرسین"],
                "کهگیلویه و بویراحمد": ["یاسوج","باشت","بویراحمد","بهمئی","چرام","دنا","کهگیلویه","گچساران","لنده"],
                "گلستان": ["گرگان","آزادشهر","آق‌قلا","بندر گز","ترکمن","رامیان","علی‌آباد کتول","کردکوی","کلاله","گالیکش","گمیشان","گنبد کاووس","مراوه‌تپه","مینودشت"],
                "گیلان": ["رشت","آستارا","آستانه اشرفیه","املش","بندر انزلی","تالش","رودبار","رودسر","رضوانشهر","سیاهکل","شفت","صومعه‌سرا","فومن","لاهیجان","لنگرود","ماسال"],
                "لرستان": ["خرم‌آباد","الیگودرز","بروجرد","پل‌دختر","چگنی","دلفان","دورود","رومشکان","سلسله","کوهدشت"],
                "مازندران": ["ساری","آمل","بابل","بابلسر","بهشهر","تنکابن","جویبار","چالوس","رامسر","سوادکوه","عباس‌آباد","فریدون‌کنار","قائم‌شهر","کلاردشت","گلوگاه","محمودآباد","میاندرود","نکا","نور","نوشهر"],
                "مرکزی": ["اراک","آشتیان","تفرش","خمین","دلیجان","زرندیه","ساوه","شازند","کمیجان","محلات"],
                "هرمزگان": ["بندرعباس","ابوموسی","بستک","بشاگرد","بندر لنگه","پارسیان","جاسک","حاجی‌آباد","خمیر","رودان","سیریک","قشم","میناب"],
                "همدان": ["همدان","اسدآباد","بهار","تویسرکان","رزن","کبودرآهنگ","ملایر","نهاوند"],
                "یزد": ["یزد","ابرکوه","اردکان","اشکذر","بافق","بهاباد","تفت","خاتم","مهریز","میبد"]
            };
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const mainFab = document.getElementById('fab-main-button');
                const fabMenu = document.getElementById('fab-menu');
            
                mainFab.addEventListener('click', function(event) {
                    event.preventDefault(); // جلوگیری از رفرش صفحه
                    fabMenu.classList.toggle('active');
                    mainFab.classList.toggle('active');
                });
            
                // بستن منو با کلیک در جای دیگر صفحه
                document.addEventListener('click', function(event) {
                    if (!mainFab.contains(event.target) && !fabMenu.contains(event.target)) {
                        fabMenu.classList.remove('active');
                        mainFab.classList.remove('active');
                    }
                });
            });
        </script>
        <script>
    document.addEventListener('DOMContentLoaded', function() {
        // این اسکریپت فقط برای کاربران لاگین کرده اجرا می‌شود
        {% if current_user.is_authenticated %}
        
        const desktopIndicator = document.getElementById('global-unread-indicator-desktop');
        const mobileIndicator = document.getElementById('global-unread-indicator-mobile');

        function checkUnreadStatus() {
            fetch('/api/unread_status')
                .then(response => response.ok ? response.json() : Promise.reject('Network response was not ok.'))
                .then(data => {
                    const totalUnread = data.total_unread_count || 0;
                    
                    const show = totalUnread > 0;

                    if (desktopIndicator) {
                        desktopIndicator.style.display = show ? 'block' : 'none';
                    }
                    if (mobileIndicator) {
                        mobileIndicator.style.display = show ? 'block' : 'none';
                    }
                })
                .catch(error => {
                    console.error('Error fetching unread status:', error);
                });
        }

        // بررسی در لحظه بارگذاری صفحه و سپس هر ۱۰ ثانیه
        checkUnreadStatus();
        setInterval(checkUnreadStatus, 10000);

        {% endif %}
    });
    </script>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <!-- <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/select2.min.css') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='bootst/js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- <script src="{{ url_for('static', filename='bootst/js/bootstrap.min.js') }}"></script> -->
    <script>
        // تابع برای تشخیص اینکه آیا کاربر از اپلیکیشن اندروید آمده است یا نه
        function isAndroidApp() {
            return /StockDivarApp/i.test(navigator.userAgent);
        }

        // اگر کاربر از اپلیکیشن آمده بود، یک متغیر گلوبال برای غیرفعال کردن جستجوی زنده تعریف کن
        if (isAndroidApp()) {
            window.IS_ANDROID_APP = true;
            console.log("در حال اجرا در اپلیکیشن اندروید. ناوبری AJAX غیرفعال خواهد شد.");
        } else {
            window.IS_ANDROID_APP = false;
        }
    </script>
    
    <script>
document.addEventListener('DOMContentLoaded', () => {
    // پیدا کردن دکمه و عنصری که شماره را در خود دارد
    const copyButton = document.getElementById('copy-button');
    const numberToCopyElement = document.getElementById('devnumber');

    if (copyButton && numberToCopyElement) {
        copyButton.addEventListener('click', () => {
            // ۱. شماره تلفن را از عنصر مربوطه بخوان
            const phoneNumber = numberToCopyElement.innerText;

            // ۲. استفاده از Clipboard API برای کپی کردن متن
            navigator.clipboard.writeText(phoneNumber).then(() => {
                // ۳. در صورت موفقیت، به کاربر بازخورد بده
                const buttonText = copyButton.querySelector('.copy-text');
                const originalText = buttonText.innerText; // متن اصلی را ذخیره کن

                buttonText.innerText = 'کپی شد!'; // تغییر متن دکمه
                copyButton.classList.remove('btn-primary');
                copyButton.classList.add('btn-success'); // تغییر رنگ دکمه به سبز

                // ۴. پس از ۲ ثانیه، دکمه را به حالت اولیه برگردان
                setTimeout(() => {
                    buttonText.innerText = originalText;
                    copyButton.classList.remove('btn-success');
                    copyButton.classList.add('btn-primary');
                }, 2000);

            }).catch(err => {
                // در صورت بروز خطا (مثلا در مرورگرهای قدیمی یا حالت ناامن)
                console.error('خطا در کپی کردن: ', err);
                alert('کپی کردن با خطا مواجه شد. لطفاً شماره را به صورت دستی کپی کنید.');
            });
        });
    }
});
</script>
   <script>

    document.addEventListener('DOMContentLoaded', function() {
        const openBtn = document.getElementById('open-contact-sheet-btn');
        const closeBtn = document.getElementById('close-sheet-btn');
        const overlay = document.getElementById('contact-sheet-overlay');
        const sheet = document.getElementById('contact-sheet');
        const sheetBody = sheet.querySelector('.sheet-body');

        function openSheet() {
            overlay.classList.add('active');
            sheet.classList.add('active');
        }

        function closeSheet() {
            overlay.classList.remove('active');
            sheet.classList.remove('active');
        }

        if (openBtn) {
            openBtn.addEventListener('click', openSheet);
        }
        if (closeBtn) {
            closeBtn.addEventListener('click', closeSheet);
        }
        if (overlay) {
            overlay.addEventListener('click', closeSheet);
        }

        // جلوگیری از بسته شدن پنل با کلیک روی محتوای داخلی آن
        sheetBody.addEventListener('click', function(event) {
            event.stopPropagation();
        });
});
    // --- منطق یکپارچه و نهایی برای لودر و رفرش ---

    // بخش ۱: مخفی کردن لودر پس از بارگذاری ساختار اصلی صفحه (سریع‌تر)
    // 'load' به 'DOMContentLoaded' تغییر کرد
    document.addEventListener('DOMContentLoaded', () => {
        document.body.classList.remove('is-loading');
    });


    // بخش ۲: منطق "کشیدن برای رفرش" (Pull to Refresh)
    // این بخش برای جلوگیری از تداخل، در یک تابع جداگانه قرار گرفت
    (function() {
        let startY = 0;
        let isPulling = false;
        const pullLoader = document.getElementById("page-refresh-loader");
        const body = document.body;

        if (pullLoader) {
            window.addEventListener("touchstart", (e) => {
                if (window.scrollY === 0) {
                    startY = e.touches[0].clientY;
                    isPulling = true;
                    // غیرفعال کردن انیمیشن در هر دو عنصر برای حرکت چسبیده به انگشت
                    pullLoader.style.transition = 'none';
                    body.style.transition = 'none';
                }
            });

            window.addEventListener("touchmove", (e) => {
                if (!isPulling) return;

                let diffY = e.touches[0].clientY - startY;

                if (diffY > 0) {
                    // محاسبه موقعیت جدید top برای لودر
                    const newTop = Math.min(diffY - 55, 15);
                    pullLoader.style.top = `${newTop}px`;

                    // محاسبه و اعمال همزمان padding به body
                    const newPadding = Math.max(0, 55 + newTop);
                    body.style.paddingTop = `${newPadding}px`;

                    // تغییر متن هنگام کشیدن به اندازه کافی
                    const span = pullLoader.querySelector('span');
                    if (span) {
                        if (diffY >= 130) {
                            span.textContent = 'برای بارگذاری رها کنید';
                        } else {
                            span.textContent = 'در حال اتصال...';
                        }
                    }
                }
            });

            window.addEventListener("touchend", (e) => {
                if (!isPulling) return;
                isPulling = false;
                // فعال کردن دوباره انیمیشن‌ها برای بازگشت نرم
                pullLoader.style.transition = 'top 0.6s cubic-bezier(0.25, 0.8, 0.25, 1)';
                body.style.transition = 'padding-top 0.6s cubic-bezier(0.25, 0.8, 0.25, 1)';

                let diffY = e.changedTouches[0].clientY - startY;

                if (diffY >= 130) {
                    // اگر رفرش انجام شد، body به خاطر کلاس is-loading خودش padding می‌گیرد
                    pullLoader.style.top = '0';
                    const span = pullLoader.querySelector('span');
                    if (span) span.textContent = 'در حال بارگذاری...';
                    location.reload();
                } else {
                    // در غیر این صورت، هر دو عنصر با انیمیشن به حالت اولیه برمی‌گردند
                    pullLoader.style.top = `-55px`;
                    body.style.paddingTop = '0px';
                    const span = pullLoader.querySelector('span');
                    if (span) span.textContent = 'در حال اتصال...';
                }
            });
        }
    })();
</script>
    <script>
    // اسکریپت مربوط به انیمیشن رفرش کشویی
   

    // اسکریپت مربوط به کپی شماره واتس‌اپ
    document.addEventListener('DOMContentLoaded', function () {
        const copyButton = document.getElementById('copy-whatsapp-number');
        if (copyButton) {
            copyButton.addEventListener('click', function (event) {
                event.preventDefault();
                const phoneNumber = '09910689541';
                navigator.clipboard.writeText(phoneNumber).then(function() {
                    const originalText = copyButton.querySelector('span');
                    if (originalText) {
                        originalText.textContent = 'شماره واتساپ کپی شد!';
                        copyButton.style.opacity = '0.7';
                        setTimeout(function() {
                            originalText.textContent = 'پشتیبانی واتساپ';
                            copyButton.style.opacity = '1';
                        }, 2000);
                    }
                }, function(err) {
                    console.error('امکان کپی کردن وجود ندارد: ', err);
                    alert('شماره پشتیبانی: ' + phoneNumber);
                });
            });
        }
    });

    // اسکریپت مربوط به پاپ‌آپ پشتیبانی
    document.addEventListener('DOMContentLoaded', function () {
        const trigger = document.getElementById('custom-popup-trigger');
        const popup = document.getElementById('custom-popup');
    
        if (trigger && popup) {
            trigger.addEventListener('click', function (event) {
                event.preventDefault();
                event.stopPropagation();
                popup.classList.toggle('show');
            });
        }
    
        window.addEventListener('click', function (event) {
            if (popup && popup.classList.contains('show')) {
                if (!popup.contains(event.target) && !trigger.contains(event.target)) {
                    popup.classList.remove('show');
                }
            }
        });
    });

    // اسکریپت مربوط به pull-to-refresh در موبایل
    let startY = 0;
    let isPulling = false;
    let spinner = document.getElementById("pull-spinner");
    
    window.addEventListener("touchstart", function (e) {
        if (window.scrollY === 0) {
            startY = e.touches[0].clientY;
            isPulling = true;
        }
    });
    
    window.addEventListener("touchmove", function (e) {
        if (!isPulling) return;
        let currentY = e.touches[0].clientY;
        let diffY = currentY - startY;
        if (diffY > 30 && diffY < 130) {
            spinner.style.top = `${diffY - 60}px`;
        }
        if (diffY >= 130) {
            spinner.style.top = `150px`;
            if (!spinner.dataset.loading) {
                spinner.dataset.loading = "true";
                location.reload();
            }
            isPulling = false;
        }
    });
    
    window.addEventListener("touchend", function () {
        if (!spinner.dataset.loading) {
            spinner.style.top = `-60px`; 
        }
        isPulling = false;
    });
    
    window.addEventListener("load", function () {
        spinner.style.top = `-60px`; 
        spinner.dataset.loading = "";
    });
        
    // اسکریپت‌های دیگر
    document.querySelectorAll('.img-clickable').forEach(img => {
        img.addEventListener('click', function () {
            const modalImage = document.getElementById('modalImage');
            const modalCaption = document.getElementById('modalCaption');
            modalImage.src = this.getAttribute('data-img-src');
            modalCaption.textContent = this.getAttribute('data-caption') || "";
        });
    });

    if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
            navigator.serviceWorker.register('/static/service-worker.js')
                .then(function (registration){
                    console.log('serviceWorker registration successful:', registration.scope);
                }, function (err) {
                    console.log('serviceWorker failed', err);
                });
        });
    };

    window.addEventListener('DOMContentLoaded', function () {
        document.body.classList.add('loaded');
        setTimeout(function() {
            const loader = document.getElementById('loader');
            if (loader) {
                loader.style.display = 'none';
            }
        }, 700);
    });

    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/static/js/sw.js')
                .then(registration => { console.log('ServiceWorker registered'); })
                .catch(err => { console.log('ServiceWorker registration failed: ', err); });
        });
    }

    document.querySelectorAll(".header-tabs").forEach((element) => {
        function updateRipplePosition(e) {
            const rect = element.getBoundingClientRect();
            const x = ((e.clientX - rect.left) / rect.width) * 100;
            const y = ((e.clientY - rect.top) / rect.height) * 100;
            element.style.setProperty('--mouse-x', `${x}%`);
            element.style.setProperty('--mouse-y', `${y}%`);
        }
        element.addEventListener('mousemove', updateRipplePosition);
        element.addEventListener('touchstart', (e) => {
            if (e.touches.length > 0) { updateRipplePosition(e.touches[0]); }
        });
        element.addEventListener('click', (e) => {
            updateRipplePosition(e);
            element.classList.remove('clicked');
            requestAnimationFrame(() => {
                element.classList.add('clicked');
                setTimeout(() => { element.classList.remove('clicked'); }, 800);
            });
        });
    });
    
    // document.addEventListener("DOMContentLoaded", function() {
    //     console.log("citiesByProvince Loaded:", citiesByProvince);
    //     function updateCities(formType, province) {
    //         const cityList = document.getElementById(formType === 'desktop' ? "cityList" : "cityListMobile");
    //         cityList.innerHTML = '';
    //         if (province in citiesByProvince) {
    //             citiesByProvince[province].forEach(city => {
    //                 let li = document.createElement("li");
    //                 let a = document.createElement("a");
    //                 a.className = "dropdown-item";
    //                 a.href = "#";
    //                 a.innerText = city;
    //                 a.onclick = function() { selectCity(formType, city); };
    //                 li.appendChild(a);
    //                 cityList.appendChild(li);
    //             });
    //         } else {
    //             cityList.innerHTML = '<li><a class="dropdown-item" href="#" onclick="selectCity(\'' + formType + '\', \'\')">انتخاب شهر</a></li>';
    //         }
    //     }
    //    window.selectProvince = function(formType, province) {
    //         console.log("استان انتخاب‌شده:", province);
    //         const provinceInput = document.getElementById(formType === 'desktop' ? "provinceInput" : "provinceInputMobile");
    //         const provinceDropdown = document.getElementById(formType === 'desktop' ? "provinceDropdown" : "provinceDropdownMobile");
    //         provinceInput.value = province;
    //         const span = provinceDropdown.querySelector("span");
    //         if (span) {
    //             span.textContent = province || "انتخاب استان";
    //         }
    //         updateCities(formType, province);
    //     };
    //     window.selectCity = function(formType, city) {
    //         const cityInput = document.getElementById(formType === 'desktop' ? "cityInput" : "cityInputMobile");
    //         const cityDropdown = document.getElementById(formType === 'desktop' ? "cityDropdown" : "cityDropdownMobile");
    //         cityInput.value = city;
    //         cityDropdown.innerText = city || "انتخاب شهر";
    //     };
    // });

    // function filterProvinces() {
    //     let input = document.getElementById("provinceSearch").value.toLowerCase();
    //     let items = document.querySelectorAll("#provinceList .province-item");
    //     items.forEach(item => {
    //         let text = item.innerText.toLowerCase();
    //         item.style.display = text.includes(input) ? "block" : "none";
    //     });
    // }
    // function filterProvincesMobile() {
    //     let input = document.getElementById("provinceSearchMobile").value.toLowerCase();
    //     let items = document.querySelectorAll("#provinceListMobile .province-item-mobile");
    //     items.forEach(item => {
    //         let text = item.innerText.toLowerCase();
    //         item.style.display = text.includes(input) ? "block" : "none";
    //     });
    // }

    // function keepDropdownOpen(event) { event.stopPropagation(); }
    // console.log(window.citiesByProvince);
    </script>

    

    <!-- <script>
        document.addEventListener('DOMContentLoaded', function() {
            
                const searchInputDesktop = document.getElementById('search-input-desktop');
                const searchInputMobile = document.getElementById('search-input-mobile');
                const provinceInputDesktop = document.getElementById('provinceInput');
                const cityInputDesktop = document.getElementById('cityInput');
                const provinceInputMobile = document.getElementById('provinceInputMobile');
                const cityInputMobile = document.getElementById('cityInputMobile');
                const resultsContainer = document.getElementById('product-results-container');
                let debounceTimeout;
                function performLiveSearch() {
                    if (!resultsContainer) return;
                    resultsContainer.innerHTML = '<div class="col-12 text-center"><div class="spinner-border" role="status"><span class="visually-hidden">در حال جستجو...</span></div></div>';
                    const searchTerm = (document.getElementById('search-input-mobile').value || document.getElementById('search-input-desktop').value);
                    const province = (document.getElementById('provinceInputMobile').value || document.getElementById('provinceInput').value);
                    const city = (document.getElementById('cityInputMobile').value || document.getElementById('cityInput').value);
                    const queryParams = new URLSearchParams({ search: searchTerm, province_search: province, city_search: city });
                    fetch(`/live_search?${queryParams.toString()}`)
                        .then(response => response.text())
                        .then(html => {
                            resultsContainer.innerHTML = html;
                            if (typeof initializeAnimations === 'function') { initializeAnimations(); }
                        })
                        .catch(error => {
                            console.error('خطا در جستجوی زنده:', error);
                            resultsContainer.innerHTML = '<p class="text-center text-danger">خطایی در هنگام جستجو رخ داد.</p>';
                        });
                }
                function debounce(func, delay) {
                    return function(...args) {
                        clearTimeout(debounceTimeout);
                        debounceTimeout = setTimeout(() => func.apply(this, args), delay);
                    };
                }
            
                const debouncedSearch = debounce(performLiveSearch, 400);
            
                if (searchInputDesktop) { searchInputDesktop.addEventListener('input', debouncedSearch); }
                if (searchInputMobile) { searchInputMobile.addEventListener('input', debouncedSearch); }
            
                const originalSelectProvince = window.selectProvince;
                window.selectProvince = function(formType, province) {
                    originalSelectProvince(formType, province);
                    performLiveSearch();
                };
            
                const originalSelectCity = window.selectCity;
                window.selectCity = function(formType, city) {
                    originalSelectCity(formType, city);
                    performLiveSearch();
                };
            
        });
    </script> -->
</body>

</body>
</html>
