<!DOCTYPE html>
<html lang="fa" data-bs-theme="dark" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}فروشگاه ابزار استوک{% endblock %}</title>
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#000000">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/icon-192x192.png') }}"> -->
    <link href="https://cdn.replit.com/agent/bootstrap-agent-dark-theme.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <script>
        var citiesByProvince = {
            "آذربایجان شرقی": [
                "تبریز",
                "اسکو",
                "اهر",
                "بستان‌آباد",
                "بناب",
                "جلفا",
                "چاراویماق",
                "خداآفرین",
                "سراب",
                "شبستر",
                "عجب‌شیر",
                "کلیبر",
                "مراغه",
                "مرند",
                "ملکان",
                "میانه",
                "ورزقان",
                "هریس",
                "هشترود"
            ],
            "آذربایجان غربی": [
                "ارومیه",
                "اشنویه",
                "بوکان",
                "پلدشت",
                "پیرانشهر",
                "تکاب",
                "چالدران",
                "چایپاره",
                "خوی",
                "سردشت",
                "سلماس",
                "شاهین‌دژ",
                "شوط",
                "ماکو",
                "مهاباد",
                "میاندوآب",
                "نقده"
            ],
            "اردبیل": [
                "اردبیل",
                "بیله‌سوار",
                "پارس‌آباد",
                "خلخال",
                "سرعین",
                "کوثر",
                "گرمی",
                "مشگین‌شهر",
                "نمین",
                "نیر"
            ],
            "اصفهان": [
                "اصفهان",
                "آران و بیدگل",
                "اردستان",
                "برخوار",
                "بوئین و میاندشت",
                "تیران و کرون",
                "چادگان",
                "خمینی‌شهر",
                "خوانسار",
                "خور و بیابانک",
                "دهاقان",
                "سمیرم",
                "شاهین‌شهر و میمه",
                "شهرضا",
                "فریدن",
                "فریدون‌شهر",
                "فلاورجان",
                "کاشان",
                "گلپایگان",
                "لنجان",
                "مبارکه",
                "نائین",
                "نجف‌آباد",
                "نطنز"
            ],
            "البرز": [
                "کرج",
                "اشتهارد",
                "ساوجبلاغ",
                "طالقان",
                "فردیس",
                "نظرآباد"
            ],
            "ایلام": [
                "ایلام",
                "آبدانان",
                "ایوان",
                "بدره",
                "چرداول",
                "دره‌شهر",
                "دهلران",
                "سیروان",
                "ملکشاهی",
                "مهران"
            ],
            "بوشهر": [
                "بوشهر",
                "تنگستان",
                "جم",
                "دشتستان",
                "دشتی",
                "دیر",
                "دیلم",
                "کنگان",
                "گناوه"
            ],
            "تهران": [
                "تهران",
                "اسلامشهر",
                "بهارستان",
                "پاکدشت",
                "پردیس",
                "پیشوا",
                "دماوند",
                "رباط‌کریم",
                "ری",
                "شمیرانات",
                "شهریار",
                "فیروزکوه",
                "قدس",
                "قرچک",
                "ملارد",
                "ورامین"
            ],
            "چهارمحال و بختیاری": [
                "شهرکرد",
                "اردل",
                "بروجن",
                "بن",
                "سامان",
                "فارسان",
                "کوهرنگ",
                "کیار",
                "لردگان"
            ],
            "خراسان جنوبی": [
                "بیرجند",
                "بشرویه",
                "خوسف",
                "درمیان",
                "زیرکوه",
                "سرایان",
                "سربیشه",
                "طبس",
                "فردوس",
                "قائنات",
                "نهبندان"
            ],
            "خراسان رضوی": [
                "مشهد",
                "بردسکن",
                "بجستان",
                "تایباد",
                "تربت جام",
                "تربت حیدریه",
                "چناران",
                "خلیل‌آباد",
                "خواف",
                "درگز",
                "رشتخوار",
                "زاوه",
                "سبزوار",
                "سرخس",
                "فریمان",
                "قوچان",
                "کاشمر",
                "کلات",
                "گناباد",
                "مه‌ولات",
                "نیشابور"
            ],
            "خراسان شمالی": [
                "بجنورد",
                "اسفراین",
                "جاجرم",
                "راز و جرگلان",
                "شیروان",
                "فاروج",
                "گرمه",
                "مانه و سملقان"
            ],
            "خوزستان": [
                "اهواز",
                "آبادان",
                "امیدیه",
                "اندیکا",
                "اندیمشک",
                "ایذه",
                "باغ‌ملک",
                "باوی",
                "بهبهان",
                "حمیدیه",
                "خرمشهر",
                "دزفول",
                "دشت آزادگان",
                "رامشیر",
                "رامهرمز",
                "شادگان",
                "شوش",
                "شوشتر",
                "کارون",
                "گتوند",
                "لالی",
                "ماهشهر",
                "مسجدسلیمان",
                "هفتکل",
                "هندیجان",
                "هویزه"
            ],
            "زنجان": [
                "زنجان",
                "ابهر",
                "ایجرود",
                "خدابنده",
                "خرمدره",
                "سلطانیه",
                "طارم",
                "ماهنشان"
            ],
            "سمنان": [
                "سمنان",
                "دامغان",
                "سرخه",
                "شاهرود",
                "گرمسار",
                "مهدی‌شهر",
                "میامی"
            ],
            "سیستان و بلوچستان": [
                "زاهدان",
                "ایرانشهر",
                "چابهار",
                "خاش",
                "دلگان",
                "زابل",
                "زهک",
                "سراوان",
                "سرباز",
                "سیب و سوران",
                "فنوج",
                "قصرقند",
                "کنارک",
                "مهرستان",
                "میرجاوه",
                "نیک‌شهر"
            ],
            "فارس": [
                "شیراز",
                "آباده",
                "ارسنجان",
                "استهبان",
                "اقلید",
                "بوانات",
                "پاسارگاد",
                "جهرم",
                "خرامه",
                "خنج",
                "داراب",
                "زرین‌دشت",
                "سروستان",
                "سپیدان",
                "شیراز",
                "فراشبند",
                "فسا",
                "فیروزآباد",
                "قایمیه",
                "قیر و کارزین",
                "کازرون",
                "گراش",
                "لارستان",
                "لامرد",
                "مرودشت",
                "ممسنی",
                "نی‌ریز"
            ],
            "قزوین": [
                "قزوین",
                "آبیک",
                "البرز",
                "بوئین‌زهرا",
                "تاکستان",
                "آوج"
            ],
            "قم": [
                "قم"
            ],
            "کردستان": [
                "سنندج",
                "بانه",
                "بیجار",
                "دیواندره",
                "دهگلان",
                "سروآباد",
                "سقز",
                "قروه",
                "کامیاران",
                "مریوان"
            ],
            "کرمان": [
                "کرمان",
                "ارزوئیه",
                "انار",
                "بافت",
                "بردسیر",
                "بم",
                "جیرفت",
                "رابر",
                "راور",
                "رودبار جنوب",
                "ریگان",
                "زرند",
                "سیرجان",
                "شهربابک",
                "عنبرآباد",
                "فاریاب",
                "فهرج",
                "قلعه گنج",
                "کوهبنان",
                "کهنوج",
                "منوجان"
            ],
            "کرمانشاه": [
                "کرمانشاه",
                "اسلام‌آباد غرب",
                "پاوه",
                "ثلاث باباجانی",
                "جوانرود",
                "دالاهو",
                "روانسر",
                "سرپل ذهاب",
                "سنقر",
                "صحنه",
                "قصر شیرین",
                "کرند غرب",
                "کنگاور",
                "گیلانغرب",
                "هرسین"
            ],
            "کهگیلویه و بویراحمد": [
                "یاسوج",
                "باشت",
                "بویراحمد",
                "بهمئی",
                "چرام",
                "دنا",
                "کهگیلویه",
                "گچساران",
                "لنده"
            ],
            "گلستان": [
                "گرگان",
                "آزادشهر",
                "آق‌قلا",
                "بندر گز",
                "ترکمن",
                "رامیان",
                "علی‌آباد کتول",
                "کردکوی",
                "کلاله",
                "گالیکش",
                "گمیشان",
                "گنبد کاووس",
                "مراوه‌تپه",
                "مینودشت"
            ],
            "گیلان": [
                "رشت",
                "آستارا",
                "آستانه اشرفیه",
                "املش",
                "بندر انزلی",
                "تالش",
                "رودبار",
                "رودسر",
                "رضوانشهر",
                "سیاهکل",
                "شفت",
                "صومعه‌سرا",
                "فومن",
                "لاهیجان",
                "لنگرود",
                "ماسال"
            ],
            "لرستان": [
                "خرم‌آباد",
                "الیگودرز",
                "بروجرد",
                "پل‌دختر",
                "چگنی",
                "دلفان",
                "دورود",
                "رومشکان",
                "سلسله",
                "کوهدشت"
            ],
            "مازندران": [
                "ساری",
                "آمل",
                "بابل",
                "بابلسر",
                "بهشهر",
                "تنکابن",
                "جویبار",
                "چالوس",
                "رامسر",
                "سوادکوه",
                "عباس‌آباد",
                "فریدون‌کنار",
                "قائم‌شهر",
                "کلاردشت",
                "گلوگاه",
                "محمودآباد",
                "میاندرود",
                "نکا",
                "نور",
                "نوشهر"
            ],
            "مرکزی": [
                "اراک",
                "آشتیان",
                "تفرش",
                "خمین",
                "دلیجان",
                "زرندیه",
                "ساوه",
                "شازند",
                "کمیجان",
                "محلات"
            ],
            "هرمزگان": [
                "بندرعباس",
                "ابوموسی",
                "بستک",
                "بشاگرد",
                "بندر لنگه",
                "پارسیان",
                "جاسک",
                "حاجی‌آباد",
                "خمیر",
                "رودان",
                "سیریک",
                "قشم",
                "میناب"
            ],
            "همدان": [
                "همدان",
                "اسدآباد",
                "بهار",
                "تویسرکان",
                "رزن",
                "کبودرآهنگ",
                "ملایر",
                "نهاوند"
            ],
            "یزد": [
                "یزد",
                "ابرکوه",
                "اردکان",
                "اشکذر",
                "بافق",
                "بهاباد",
                "تفت",
                "خاتم",
                "مهریز",
                "میبد"
            ]
        };
    </script>
</head>
<body>
    <div class="d-lg-none d-md-none d-sm-flex flex-nowrap">
        <div class="row navbar-nav pe-0 ms-auto w-auto me-0 d-lg-flex d-md-flex d-sm-flex flex-nowrap flex-row">
            <a class="navbar-brand text-light pt-3 text-end flex-fill" href="{{ url_for('main.index') }}" style="font-family: 'nastaligh', sans-serif; font-size: 3rem;">استوک</a>
            {% if current_user.is_admin %}
                        <div class="nav-item header-tabs pt-3 pb-4 pe-3 ps-3 text-center font-300 position-relative flex-fill">
                            <a class="nav-link text-danger m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.admin_dashboard') }}">
                                <i class="bi bi-kanban text-danger fs-3 m-0 p-0 w-100 me-2"></i>
                                <span>مدیریت</span>
                            </a>
                        </div>
                    {% endif %}
                    
                    {% if current_user.is_authenticated %}
                        <div class="nav-item header-tabs pt-3 pb-4 pe-4 ps-4 text-center font-300 position-relative flex-fill">
                            <a class="nav-link text-danger m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.logout') }}">
                                <i class="bi bi-box-arrow-left text-danger fs-3 m-0 p-0 me-1"></i> 
                                <span>خروج</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="nav-item header-tabs pt-3 pb-4 pe-4 ps-4 text-center font-300 position-relative flex-fill">
                            <a class="nav-link text-success m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.login') }}">
                                <i class="bi bi-box-arrow-in-left text-success fs-3 m-0 p-0 me-1"></i> 
                                <span>ورود</span>
                            </a>
                        </div>
                    {% endif %}
                    
        </div>
        
    </div>
    <nav class="navbar navbar-expand-md bg-light mb-4 sticky-top">
        <div class="w-100 m-0">
            <div class="collapse navbar-collapse ms-0" id="navbarNav">

                <a class="navbar-brand text-light" href="{{ url_for('main.index') }}" style="font-family: 'nastaligh', sans-serif; font-size: 3rem;">استوک</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="d-lg-flex d-md-none d-sm-none w-100" action="{{ url_for('main.index') }}" method="GET">
                    <div class="d-flex w-75 m-auto">
                        
                        <!-- Dropdown برای انتخاب استان -->
                        <div class="dropdown me-2 w-25">
                            <button class="btn chooser p-2 dropdown-toggle w-100 outline-none" type="button" id="provinceDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
                                انتخاب استان
                            </button>
                            <ul class="dropdown-menu chooser w-100 overflow-auto" aria-labelledby="provinceDropdown" id="provinceList" style="background-color: var(--black-color); max-height: 20rem;">
                                <li>
                                    <input type="text" id="provinceSearch" class="form-control w-100 p-2 mb-2" placeholder="جستجوی استان..." onkeyup="filterProvinces()">
                                </li>
                                <li class="px-2"><a class="dropdown-item header-tabs" href="#" onclick="selectProvince('')">انتخاب استان</a></li>
                                {% for province in provinces %}
                                <li class="px-2 province-item"><a class="dropdown-item header-tabs" href="#" onclick="selectProvince('desktop', '{{ province }}')" style="font-family: 'nastaligh', sans-serif; font-size: 2rem;">{{ province }}</a></li>
                                {% endfor %}
                            </ul>
                            <input type="hidden" name="province_search" id="provinceInput" value="{{ request.args.get('province_search', '') }}">
                        </div>
                
                        <!-- Dropdown برای انتخاب شهر -->
                        <div class="dropdown me-2 w-25">
                            <button class="btn chooser p-2 dropdown-toggle w-100 outline-none" type="button" id="cityDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="border: none;">
                                انتخاب شهر
                            </button>
                            <ul class="dropdown-menu chooser w-100 overflow-auto" aria-labelledby="cityDropdown" id="cityList" style="background-color: var(--black-color); max-height: 20rem;">
                                <li><a class="dropdown-item header-tabs" href="#" onclick="selectCity('')">انتخاب شهر</a></li>
                            </ul>
                            <input class="" type="hidden" name="city_search" id="cityInput" value="{{ request.args.get('city_search', '') }}">
                        </div>
                
                        <input class="me-2 inputs searcher" type="search" placeholder="جستجو..." name="search" value="{{ request.args.get('search', '') }}">
                        <button class="btn header-tabs w-25" type="submit">جستجو</button>
                    </div>
                </form>
                
                
                

                <ul class="navbar-nav pe-0 me-auto w-auto float-start">
                    <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                        <a class="nav-link text-light m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.index') }}">
                            <i class="bi bi-cart3 txt-lighter fs-3 m-0 p-0 me-1"></i> 
                            <span>محصولات</span>
                        </a>
                    </li>
                    
                    {% if current_user.is_authenticated %}
                        <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                            <a class="nav-link text-light m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.dashboard') }}">
                                <i class="bi bi-person txt-lighter fs-3 m-0 p-0 me-1"></i> 
                                <span>داشبورد</span>
                            </a>
                        </li>
                        <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                            <a href="{{ url_for('main.new_product') }}" class="nav-link text-light m-0 p-0 w-100 h-100 d-block">
                                <i class="bi bi-plus-square txt-lighter fs-3 m-0 p-0 me-1"></i> 
                                <span style="white-space: nowrap;">محصول جدید</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    {% if current_user.is_admin %}
                        <li class="nav-item header-tabs pt-1 pb-2 pe-3 ps-3 text-center font-300 position-relative">
                            <a class="nav-link text-danger m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.admin_dashboard') }}">
                                <i class="bi bi-kanban text-danger fs-3 m-0 p-0 w-100 me-2"></i>
                                <span>مدیریت</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    {% if current_user.is_authenticated %}
                        <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                            <a class="nav-link text-danger m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.logout') }}">
                                <i class="bi bi-box-arrow-left text-danger fs-3 m-0 p-0 me-1"></i> 
                                <span>خروج</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative">
                            <a class="nav-link text-success m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.login') }}">
                                <i class="bi bi-box-arrow-in-left text-success fs-3 m-0 p-0 me-1"></i> 
                                <span>ورود</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    
                </ul>
                
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <button id="installBtn" class="nav-link btn btn-link d-none">نصب برنامه</button>
                    </li>
                    
                </ul>
               
            </div>
        </div>
    </nav>

    
   <!-- فرم موبایل -->
    <form class="d-lg-none d-md-flex d-sm-flex w-100" action="{{ url_for('main.index') }}" method="GET">
        <div class="d-flex w-100 m-auto flex-wrap">
            
            <!-- Dropdown استان (مخصوص موبایل) -->
            <div class="dropdown w-50">
                <button class="btn p-2 dropdown-toggle w-100 outline-none" type="button" id="provinceDropdownMobile" data-bs-toggle="dropdown" aria-expanded="false">
                    انتخاب استان
                </button>
                <ul class="dropdown-menu chooser w-100 overflow-auto" id="provinceListMobile" style="max-height: 20rem;">
                    <li>
                        <input type="text" id="provinceSearchMobile" class="form-control w-100 p-2 mb-2" placeholder="جستجوی استان..." onkeyup="filterProvincesMobile()" onclick="keepDropdownOpen(event)">
                    </li>
                    <li><a class="dropdown-item" href="#" onclick="selectProvince('mobile', '')">انتخاب استان</a></li>
                    {% for province in provinces %}
                    <li class="province-item-mobile"><a class="dropdown-item" href="#" onclick="selectProvince('mobile', '{{ province }}')">{{ province }}</a></li>
                    {% endfor %}
                </ul>
                <input type="hidden" name="province_search" id="provinceInputMobile" value="{{ request.args.get('province_search', '') }}">
            </div>
        
            <!-- Dropdown شهر (مخصوص موبایل) -->
            <div class="dropdown w-50">
                <button class="btn p-2 dropdown-toggle w-100 outline-none" type="button" id="cityDropdownMobile" data-bs-toggle="dropdown" aria-expanded="false">
                    انتخاب شهر
                </button>
                <ul class="dropdown-menu chooser w-100" id="cityListMobile">
                    <li><a class="dropdown-item" href="#" onclick="selectCity('mobile', '')">انتخاب شهر</a></li>
                </ul>
                <input type="hidden" name="city_search" id="cityInputMobile" value="{{ request.args.get('city_search', '') }}">
            </div>
        
            <div class="d-flex flex-nowrap w-100 mt-3">
                <input class="me-2 inputs searcher w-75" type="search" placeholder="جستجو..." name="search" value="{{ request.args.get('search', '') }}">
                <button class="btn header-tabs w-25" type="submit">جستجو</button>
            </div>
        </div>
    </form>


    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    
    <div class="bottom-div sticky-bottom d-lg-none d-md-none d-sm-flex flex-nowrap" style="background-color: var(--dark-green);">
        <ul class="navbar-nav pe-0 ms-auto w-100 me-0 d-flex flex-row">
            <li class="nav-item header-tabs pt-3 pb-4 pe-4 ps-4 text-center font-300 position-relative flex-fill">
                <a class="nav-link text-light m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.index') }}">
                    <i class="bi bi-cart3 txt-lighter fs-3 m-0 p-0 me-1"></i> 
                    <span>محصولات</span>
                </a>
            </li>
            
            {% if current_user.is_authenticated %}
                <li class="nav-item header-tabs pt-1 pb-2 pe-4 ps-4 text-center font-300 position-relative rounded-5" style="background-color: var(--black-color); bottom: 1.5rem; box-shadow: 0 0 2rem var(--light-green);">
                    <a href="{{ url_for('main.new_product') }}" class="nav-link text-light m-0 p-0 w-100 h-100 d-block">
                        <i class="bi bi-plus-square txt-lighter fs-3 m-0 p-0 me-1"></i><br>
                        <span style="white-space: nowrap;">محصول جدید</span>
                    </a>
                </li>
                <li class="nav-item header-tabs pt-3 pb-4 pe-4 ps-4 text-center font-300 position-relative flex-fill">
                    <a class="nav-link text-light m-0 p-0 w-100 h-100 d-block" href="{{ url_for('main.dashboard') }}">
                        <i class="bi bi-person txt-lighter fs-3 m-0 p-0 me-1"></i> 
                        <span>داشبورد</span>
                    </a>
                </li>
            {% endif %}
        </ul>
        
        
    </div>

    <!-- <footer class="w-100 text-start pt-3" style="padding: 20px 0;">
        <div class="w-100 d-flex flex-row align-items-center justify-content-center">
            <div class="w-50 pe-4">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/images/IMG-20250213-WA0003.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/IMG-20250213-WA0003.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/images/IMG-20250213-WA0003.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <ul class="w-25 d-flex flex-column text-end ps-4">
                <h4 class="mb-3">هیلتی حیدری</h4>
                <li class="mt-3">سایت ما: <a href="https://stockheydari.ir">stockheydari.ir</a></li>
                <li class="mt-3">تماس با پشتیبانی: 09123456789</li>
                <li class="mt-3">ارسال بازخورد به ما: 09186998672</li>
                <li class="mt-3">آدرس شرکت: تهران، اسلامشهر، سرنوری، ک لادن، پ 12</li>
                <li class="mt-3"><a href="https://stockheydari.ir/abut-us/" class="text-decoration-none">درباره ما</a></li>
            </ul>
        </div>
        <div class="w-100 text-center mt-3 border-top pt-2">
            <p>© ۲۰۲۵ شرکت هیلتی حیدری و سید عرفان حسینی - تمامی حقوق محفوظ است.</p>
        </div>
    </footer> -->
    
    
    
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/static/js/sw.js')
                    .then(registration => {
                        console.log('ServiceWorker registered');
                    })
                    .catch(err => {
                        console.log('ServiceWorker registration failed: ', err);
                    });
            });
        }

        document.querySelectorAll(".header-tabs").forEach((element) => {
            element.addEventListener('mousemove', (e) => {
                const rect = element.getBoundingClientRect();
                const x = ((e.clientX - rect.left) / rect.width) * 100;
                const y = ((e.clientY - rect.top) / rect.height) * 100;
                element.style.setProperty('--mouse-x', `${x}%`);
                element.style.setProperty('--mouse-y', `${y}%`);
            });
        });

        document.addEventListener("DOMContentLoaded", function() {
            console.log("citiesByProvince Loaded:", citiesByProvince);


            function updateCities(formType, province) {
                const cityList = document.getElementById(formType === 'desktop' ? "cityList" : "cityListMobile");
                cityList.innerHTML = '';  // پاک کردن لیست قبلی

                if (province in citiesByProvince) {
                    citiesByProvince[province].forEach(city => {
                        let li = document.createElement("li");
                        let a = document.createElement("a");
                        a.className = "dropdown-item";
                        a.href = "#";
                        a.innerText = city;
                        a.onclick = function() { selectCity(formType, city); };
                        li.appendChild(a);
                        cityList.appendChild(li);
                    });
                } else {
                    cityList.innerHTML = '<li><a class="dropdown-item" href="#" onclick="selectCity(\'' + formType + '\', \'\')">انتخاب شهر</a></li>';
                }
            }


            window.selectProvince = function(formType, province) {
                console.log("استان انتخاب‌شده:", province); // برای تست مقدار استان
                const provinceInput = document.getElementById(formType === 'desktop' ? "provinceInput" : "provinceInputMobile");
                const provinceDropdown = document.getElementById(formType === 'desktop' ? "provinceDropdown" : "provinceDropdownMobile");

                if (province) {
                    provinceInput.value = province;  
                    provinceDropdown.innerText = province; // مقدار دکمه Dropdown تغییر کند
                } else {
                    provinceInput.value = "";
                    provinceDropdown.innerText = "انتخاب استان";
                }
            
                updateCities(formType, province); // آپدیت لیست شهرها
            };


            window.selectCity = function(formType, city) {
                const cityInput = document.getElementById(formType === 'desktop' ? "cityInput" : "cityInputMobile");
                const cityDropdown = document.getElementById(formType === 'desktop' ? "cityDropdown" : "cityDropdownMobile");
                cityInput.value = city;
                cityDropdown.innerText = city || "انتخاب شهر";
            };

    });

    function filterProvinces() {
        let input = document.getElementById("provinceSearch").value.toLowerCase();
        let items = document.querySelectorAll("#provinceList .province-item");

        items.forEach(item => {
            let text = item.innerText.toLowerCase();
            item.style.display = text.includes(input) ? "block" : "none";
        });
    }
    function filterProvincesMobile() {
    let input = document.getElementById("provinceSearchMobile").value.toLowerCase();
    let items = document.querySelectorAll("#provinceListMobile .province-item-mobile");

    items.forEach(item => {
        let text = item.innerText.toLowerCase();
        item.style.display = text.includes(input) ? "block" : "none";
    });
}

// جلوگیری از بسته شدن Dropdown هنگام تایپ در موبایل
function keepDropdownOpen(event) {
    event.stopPropagation();
}




    console.log(window.citiesByProvince);

    </script>
</body>
</html>