{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <button class="btn header-tabs py-2 px-3 float-start" onclick="history.back()">
        <i class="bi bi-arrow-left fs-3 txt-black"></i>
    </button>
    <!-- Tabs at Top -->
    <ul class="nav nav-tabs justify-content-start shadow-sm mt-5" id="tabMenu" role="tablist" style="top: 60px; z-index: 1030;" dir="rtl">
        <li class="nav-item header-tabs">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab">خانه</button>
        </li>
        <li class="nav-item header-tabs">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab">اطلاعات شما</button>
        </li>
        <li class="nav-item header-tabs">
            <button class="nav-link" id="products-tab" data-bs-toggle="tab" data-bs-target="#products" type="button" role="tab">محصولات من</button>
        </li>
    </ul>

    <!-- Home Tab -->
    

    <!-- Tab Contents -->
    <div class="tab-content pt-4 px-3" id="tabContent" style="padding-top: 80px;">
        <div class="tab-pane fade show active" id="home" role="tabpanel">
            <div class="mb-4 mt-3">
                <h3 class="txt-black">سلام {{ current_user.username }} عزیز 🌟</h3>
                <p class="txt-black">به پنل کاربری‌ات خوش اومدی!   اینجا به کالای خود ارزش دهید</p>
            </div>
            <div class="mt-4 mb-4">
                <p class="txt-black">تغییر تم:</p>
                <button id="toggleButton" class="header-tabs rounded-2">
                    <i id="themeIcon" class="bi bi-moon icon txt-black"></i>
                </button>
            </div>
            
            <div class="row row-cols-1 row-cols-md-3 g-3 mb-4">
                <div class="col">
                    <div class="card header-tabs shadow-sm" style="background-color: var(--dark-green);">
                        <div class="card-body text-center">
                            <i class="bi bi-box-seam fs-2 mb-2 txt-black"></i>
                            <h5 class="card-title txt-black">محصولات ثبت‌شده</h5>
                            <p class="card-text txt-black fs-5 fw-bold">{{ products|length }}</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <a href="{{ url_for('main.new_product') }}" class="text-decoration-none">
                        <div class="card header-tabs shadow-sm" style="background-color: var(--dark-green);">
                            <div class="card-body text-center">
                                <i class="bi bi-plus-circle fs-2 mb-2 txt-black"></i>
                                <h5 class="card-title txt-black">ثبت محصول جدید</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <div id="goToProfileTab" class="card header-tabs shadow-sm" style="background-color: var(--dark-green); cursor: pointer;">
                        <div class="card-body text-center">
                            <i class="bi bi-person fs-2 mb-2 txt-black"></i>
                            <h5 class="card-title txt-black">ویرایش اطلاعات</h5>
                        </div>
                    </div>
                </div>
            </div>
            
            
            
        </div>

        <!-- User Info Tab -->
        <div class="tab-pane fade" id="profile" role="tabpanel">
            <form method="POST" class="mb-5">
                {{ form.hidden_tag() }}

                <div class="form-group mb-1">
                    <label for="username" class="txt-black">نام کاربری</label>
                    {{ form.username(class="inputs txt-black", id="username") }}
                </div>

                <div class="form-group mt-3 mb-1">
                    <label for="email" class="txt-black">ایمیل</label>
                    {{ form.email(class="inputs txt-black", id="email") }}
                </div>

                <button type="submit" class="btn btn-primary header-tabs mt-3"> {{ form.submit.label }} </button>
            </form>
        </div>

        <!-- Products Tab -->
        <div class="tab-pane fade" id="products" role="tabpanel">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="txt-black">محصولات من</h2>
                <a href="{{ url_for('main.new_product') }}" class="btn btn-primary d-flex align-items-center">اضافه کردن محصول <i class="bi bi-plus fw-bolder fs-4"></i></a>
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 6rem;">
                {% for product in products %}
                <div class="col">
                    <div class="card productes h-100 header-tabs">
                        {% if product.image_path %}
                        <img src="{{ url_for('static', filename='uploads/' + product.image_path) }}" class="card-img-top" alt="{{ product.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title txt-black">{{ product.name }}</h5>
                            <p class="card-text description px-3 txt-black">{{ product.description }}</p>
                            {% if product.price == product.price|int %}
                            <p class="card-text txt-black"><strong>{{ "{:,}".format(product.price | int) }} تومان</strong></p>
                            {% else %}
                            <p class="card-text txt-black"><strong>{{ "{:,.2f}".format(product.price) }} تومان</strong></p>
                            {% endif %}
                            <div class="d-flex justify-content-between">
                                <a href="{{ url_for('main.edit_product', id=product.id) }}" class="btn btn-secondary header-tabs m-0">ویرایش</a>
                                <form action="{{ url_for('main.delete_product', id=product.id) }}" method="POST" class="d-inline m-0">
                                    <button type="submit" class="btn btn-danger header-tabs m-0" onclick="return confirm('Are you sure?')">حذف محصول</button>
                                </form>
                                {% if product.user_id == current_user.id %}
                                    <form action="{{ url_for('main.remove_promotion', product_id=product.id) }}" method="POST" class="header-tabs m-0">
                                        <button type="submit" class="btn btn-danger m-0">حذف نردبان</button>
                                    </form>
                                    <a href="{{ url_for('main.start_payment', product_id=product.id) }}" class="btn btn-success m-0">نردبان کردن</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Theme Script -->
<script>
    const button = document.getElementById("toggleButton");
    const themeIcon = document.getElementById("themeIcon");
    const root = document.documentElement;

    const savedTheme = localStorage.getItem("theme");

    if (savedTheme) {
        savedTheme === "dark" ? setDarkMode() : setLightMode();
    } else {
        setLightMode();
    }

    function setDarkMode() {
        root.style.setProperty("--black-color", "#1C1C1E");
        root.style.setProperty("--dark-green", "#3A3A3C");
        root.style.setProperty("--light-green", "#9B1B30");
        root.style.setProperty("--light-white", "#f1f1f1");
        root.style.setProperty("--txt-color", "#F8F8F8");
        themeIcon.classList.replace("bi-moon", "bi-brightness-high");
        localStorage.setItem("theme", "dark");
    }

    function setLightMode() {
        root.style.setProperty("--black-color", "#F8F8F8");
        root.style.setProperty("--dark-green", "#E0E0E0");
        root.style.setProperty("--light-green", "#9B1B30");
        root.style.setProperty("--light-white", "#F1F1F1");
        root.style.setProperty("--txt-color", "#1C1C1E");
        themeIcon.classList.replace("bi-brightness-high", "bi-moon");
        localStorage.setItem("theme", "light");
    }

    button.addEventListener("click", () => {
        const currentTheme = localStorage.getItem("theme");
        currentTheme === "light" ? setDarkMode() : setLightMode();
    });

    document.getElementById("goToProfileTab").addEventListener("click", function () {
        var profileTab = new bootstrap.Tab(document.querySelector('#profile-tab'));
        profileTab.show();
    });
</script>
{% endblock %}
