{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bg-very-black signuper">
            <div class="card-header">
                <h4 class="mb-0">ورود</h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ url_for('main.login') }}">
                    <div class="mb-3">
                        <label for="username" class="form-label">نام کاربری</label>
                        <input type="text" class="inputs" id="username" placeholder="نام کاربری خود را وارد کنید" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">رمز عبور</label>
                        <input type="password" class="inputs" id="password" placeholder="رمز عبور خود را وارد کنید" name="password" required>
                    </div>
                    <button type="submit" class="btn header-tabs py-3 px-4">ورود</button>
                    <a href="{{ url_for('main.signup') }}" class="btn btn-link">حساب کاربری ندارید؟ ثبت‌نام کنید</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}