{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            {% if product.image_path %}
            <img src="{{ url_for('static', filename='uploads/' + product.image_path) }}" 
                 class="img-fluid" alt="{{ product.name }}">
            {% endif %}
        </div>
        
        <div class="col-md-6 mb-5 mt-4">
            <button class="btn header-tabs float-start py-2 px-3" onclick="history.back()">
                <i class="bi bi-arrow-left fs-3 txt-black"></i>
            </button>
            <h2 class="txt-black">{{ product.name }}</h2>
            {% if product.price == product.price|int %}
                <h3 class="mb-4 txt-black">قیمت: {{ "{:,}".format(product.price | int) }} تومان</h3>
            {% else %}
                <h3 class="mb-4 txt-black">قیمت: {{ "{:,.2f}".format(product.price) }} تومان</h3>
            {% endif %}
            <p class="text-muted txt-black">فروشنده: {{ product.owner.username }}</p>
            
            {% if product.address %}
                <p class="txt-black"><strong>آدرس:</strong> {{ product.address }}</p>
            {% else %}
                <p>آدرس وارد نشده است</p>
            {% endif %}
            {% if user.phone %}
                <div class="d-flex flex-nowrap justify-content-start align-items-center my-3 txt-black"><strong class="m-0">شماره تلفن:</strong><p onclick="copyText(this)" class="header-tabs py-2 px-3 w-75 m-0">{{ user.phone }}</p></div>
            {% else %}
                <p>شماره تلفن وارد نشده است</p>
            {% endif %}
            {% if product.product_type %}
                <p class="txt-black"><strong>نوع محصول:</strong> {{ product.product_type.value }}</p>
            {% else %}
                <p>نوع محصول وارد نشده است</p>
            {% endif %}
            <hr class="w-100 txt-black">
            <p>توضیحات و ویژگی ها:</p>
            <p class="lead txt-black">{{ product.description }}</p>
            <hr class="w-100 txt-black">
            <p class="txt-black">تاریخ انتشار: {{ product.updated_at }}</p>
        </div>
    </div>
</div>
<script>
    function copyText(element) {
            const text = element.innerText || element.textContent;
            
            navigator.clipboard.writeText(text).then(() => {
                let toast = document.createElement("span");
                toast.classList.add("toast-message");
                toast.innerText = "متن با موفقیت کپی شد!";
                
                document.body.appendChild(toast);

                // نمایش پیام
                setTimeout(() => {
                    toast.classList.add("show");
                }, 10);

                // حذف پیام بعد از 2 ثانیه
                setTimeout(() => {
                    toast.classList.remove("show");
                    setTimeout(() => {
                        toast.remove();
                    }, 300);
                }, 2000);
            }).catch(err => {
                console.error("خطا در کپی کردن متن:", err);
            });
        }
</script>
{% endblock %}
