{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center mt-5 mb-5" id="page-content" class="page-transition">
    <div class="col-md-8 mb-5">
        <div class="card signuper mb-4">
            <div class="card-header" style="background: var(--dark-green);">
                <button class="btn header-tabs py-2 px-3 float-start">
                    <a href="{{ url_for('main.index') }}">
                        <i class="bi bi-arrow-left fs-3 txt-black"></i>
                    </a>
                </button>
                <h4 class="mb-0 txt-black">{% if product %}ویرایش محصول{% else %}محصول جدید{% endif %}</h4>
            </div>
            <div class="card-body bg-very-black">
                <!-- فرم بدون جاوا اسکریپت -->
                <form method="POST" id="productForm">
                    <div class="mb-3">
                        <label for="name" class="form-label txt-black">نام محصول</label>
                        <input type="text" class="inputs txt-black" placeholder="نام محصول را وارد کنید" id="name" name="name" 
                               value="{{ product.name if product else '' }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label txt-black">توضیحات</label>
                        <textarea class="inputs txt-black" placeholder="توضیحات راجب محصول و ویژگی های آن..." id="description" name="description" rows="3">{{ product.description if product else '' }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label txt-black">قیمت (تومان)</label>

                        <input type="text" inputmode="numeric" class="inputs txt-black"
                               placeholder="قیمت محصول را وارد کنید" id="price" name="price"
                               value="{{ product.price if product else '' }}" required>

                        <small id="price-in-words" class="form-text mt-1 d-block text-success">&nbsp;</small>
                    </div>
                    <div class="mb-3">
                        <label for="category_id" class="form-label txt-black">دسته‌بندی</label>
                        <select class="form-select txt-black" id="category_id" name="category_id" required>
                            <option value="" class="txt-black">انتخاب دسته‌بندی</option>
                            {% for category in categories %}
                            <option class="txt-black" value="{{ category.id }}" {% if product and product.category_id == category.id %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="province" class="form-label txt-black">استان</label>
                        <select class="form-select txt-black" id="province" name="province" required>
                            <option class="txt-black" value="">انتخاب استان</option>
                            {% for province in provinces %}
                            <option class="txt-black" value="{{ province }}" {% if product and product.address.split('-')[0] == province %}selected{% endif %}>
                                {{ province }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="city" class="form-label txt-black">شهر</label>
                        <select class="form-select txt-black" id="city" name="city" required>
                            <option class="txt-black" value="">انتخاب شهر</option>
                            {% if product %}
                                {% for city in citiesByProvince[product.address.split('-')[0]] %}
                                <option class="txt-black" value="{{ city }}" {% if product.address.split('-')[1] == city %}selected{% endif %}>
                                    {{ city }}
                                </option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="postal_code" class="form-label txt-black">کد پستی</label>
                        <input type="text" class="inputs txt-black" placeholder="کد پستی محل فروش (اختیاری)" id="postal_code" name="postal_code" 
                               value="{{ product.postal_code if product else '' }}">
                    </div>


                   <div class="mb-3">
                        <label for="brand" class="form-label txt-black">برند</label>
                        <select class="form-select txt-black" id="brand-select" name="brand" required>
                            <option class="txt-black" value="" disabled {% if not product %}selected{% endif %}>انتخاب برند</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/bosch.png') }}" value="bosch" {% if product and product.brand == "bosch" %}selected{% endif %}>Bosch/بوش</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/Makita-Logo.png') }}" value="makita" {% if product and product.brand == "makita" %}selected{% endif %}>Makita/ماکیتا</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/dewalt.png') }}" value="dewalt" {% if product and product.brand == "dewalt" %}selected{% endif %}>DeWalt/دیوالت</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/Milwaukee-Logo.png') }}" value="milwaukee" {% if product and product.brand == "milwaukee" %}selected{% endif %}>Milwaukee/میلواکی</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/Hilti-Logo-700x394.png') }}" value="hilti" {% if product and product.brand == "hilti" %}selected{% endif %}>Hilti/هیلتی</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/Stanley-Logo.png') }}" value="stanley" {% if product and product.brand == "stanley" %}selected{% endif %}>Stanley/استنلی</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/Brand-Ingersoll_Rand_Logo.png') }}" value="ingersoll_rand" {% if product and product.brand == "ingersoll_rand" %}selected{% endif %}>Ingersoll Rand/اینگرسول رند</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/black.png') }}" value="black_decker" {% if product and product.brand == "black_decker" %}selected{% endif %}>Black & Decker/بلک اند دکر</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/metabo-logo-vector-removebg-preview.png') }}" value="metabo" {% if product and product.brand == "metabo" %}selected{% endif %}>Metabo/متابو</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/hitachi.png') }}" value="hitachi" {% if product and product.brand == "hitachi" %}selected{% endif %}>Hitachi/هیتاچی</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/ridgid.png') }}" value="ridgid" {% if product and product.brand == "ridgid" %}selected{% endif %}>Ridgid/ریجید</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/Ryobi_company_logo.svg.png') }}" value="ryobi" {% if product and product.brand == "ryobi" %}selected{% endif %}>Ryobi/ریوبی</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/Festool-logo.png') }}" value="festool" {% if product and product.brand == "festool" %}selected{% endif %}>Festool/فستول</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/einhell.png') }}" value="einhell" {% if product and product.brand == "einhell" %}selected{% endif %}>Einhell/اینهل</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/ronix.png') }}" value="ronix" {% if product and product.brand == "ronix" %}selected{% endif %}>Ronix/رونیکس</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/ingco.png') }}" value="ingco" {% if product and product.brand == "ingco" %}selected{% endif %}>INGCO/اینکو</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/total.png') }}" value="total" {% if product and product.brand == "total" %}selected{% endif %}>TOTAL/توتال</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/tactix.png') }}" value="tactix" {% if product and product.brand == "tactix" %}selected{% endif %}>Tactix/تکتیکس</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/kress.png') }}" value="kress" {% if product and product.brand == "kress" %}selected{% endif %}>Kress/کرس</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/skil.png') }}" value="skil" {% if product and product.brand == "skil" %}selected{% endif %}>Skil/اسکیل</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/aeg.png') }}" value="AEG" {% if product and product.brand == "AEG" %}selected{% endif %}>AEG/آاگ</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/wurth.png') }}" value="wurth" {% if product and product.brand == "wurth" %}selected{% endif %}>wurth/وورث</option>
                            <option class="txt-black" data-logo="{{ url_for('static', filename='images/new_1000-removebg-preview.png') }}" value="wiha" {% if product and product.brand == "wiha" %}selected{% endif %}>wiha/ویها</option>
                        </select>
                    </div>


                    <div class="mb-3">
                        <label for="product_type" class="form-label txt-black">نوع محصول</label>
                        <select class="form-select txt-black" id="product_type" name="product_type" required>
                            <option class="txt-black" value="NEW" {% if product and product.product_type.name == "NEW" %}selected{% endif %}>نو</option>
                            <option class="txt-black" value="STOCK" {% if product and product.product_type.name == "STOCK" %}selected{% endif %}>استوک</option>
                            <option class="txt-black" value="USED" {% if product and product.product_type.name == "USED" %}selected{% endif %}>دست دوم</option>
                            <option class="txt-black" value="NEEDS_REPAIR" {% if product and product.product_type.name == "NEEDS_REPAIR" %}selected{% endif %}>نیاز به تعمیر جزئی</option>
                        </select>
                    </div>


                    <div class="mb-3">
                        <label for="image" class="form-label txt-black">تصویر محصول (حداکثر ۳ عدد)</label>
                        <p class="text-warning">ترجیها عکسی آپلودی 1 در 1 (مربع) باشد برای نمایش بهتر در پلتفرم</p>

                        <div class="custom-file">
                            <input type="file" class="form-control-file d-none" id="image" name="image" accept="image/*" multiple>
                        
                            <div class="image-upload-box" onclick="document.getElementById('image').click();">
                                <span class="image-upload-plus">+</span>
                                <p class="image-upload-text">انتخاب عکس‌ها</p>
                            </div>
                        </div>

                        <input type="hidden" name="uploaded_image_paths" id="uploaded_image_paths" value="{% if product %}{% for img in product.images %}{{ img.image_path }}{% if not loop.last %},{% endif %}{% else %}{{ product.image_path or '' }}{% endfor %}{% endif %}">

                        <div id="image-previews" class="d-flex flex-wrap mt-2">
                            {% if product %}
                                {% if product.images %}
                                    {% for img in product.images %}
                                        {% endfor %}
                                {% elif product.image_path %}
                                    <div class="m-1 position-relative" data-filename="{{ product.image_path }}">
                                        <img src="{{ url_for('static', filename='uploads/' + product.image_path) }}" class="img-thumbnail" style="height: 150px; width: auto;">
                                        <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0" onclick="removePreview(this)">&times;</button>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    
                        <div class="progress mt-2" id="uploadProgress" style="display: none;">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100" id="uploadProgressBar">0%</div>
                          <p class="txt-black">در حال آپلود عکس</p>
                        </div>
                    </div>



                    <div class="d-grid">
                        <button type="submit" id="submitBtn" class="btn btn-danger header-tabs py-3 txt-black" disabled>
                            {% if product %}به‌روزرسانی محصول{% else %}ایجاد محصول{% endif %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        
        // تابعی برای فرمت‌دهی به گزینه‌های لیست
        function formatBrand(brand) {
            if (!brand.id) {
                return brand.text;
            }
            
            var logoPath = $(brand.element).data('logo');
            if (!logoPath) {
                return brand.text;
            }
            
            var $brand = $(
                '<span><img src="' + logoPath + '" class="logo-image" /> ' + brand.text + '</span>'
            );
            return $brand;
        };

        // فعال‌سازی Select2 روی المان مورد نظر
        $('#brand-select').select2({
            templateResult: formatBrand,
            templateSelection: formatBrand,
            minimumResultsForSearch: Infinity
        });

    });
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const priceInput = document.getElementById('price');
    const priceWordsElement = document.getElementById('price-in-words');

    // تابع برای تبدیل عدد به حروف فارسی
    function numberToWords(num) {
        if (num === 0) return 'صفر';
        if (!num) return '';

        const ones = ['', 'یک', 'دو', 'سه', 'چهار', 'پنج', 'شش', 'هفت', 'هشت', 'نه'];
        const teens = ['ده', 'یازده', 'دوازده', 'سیزده', 'چهارده', 'پانزده', 'شانزده', 'هفده', 'هجده', 'نوزده'];
        const tens = ['', '', 'بیست', 'سی', 'چهل', 'پنجاه', 'شصت', 'هفتاد', 'هشتاد', 'نود'];
        const hundreds = ['', 'یکصد', 'دویست', 'سیصد', 'چهارصد', 'پانصد', 'ششصد', 'هفتصد', 'هشتصد', 'نهصد'];
        const scales = ['', 'هزار', 'میلیون', 'میلیارد', 'تریلیون'];

        function convertThreeDigits(n) {
            let word = '';
            const h = Math.floor(n / 100);
            const t = Math.floor((n % 100) / 10);
            const o = n % 10;

            if (h > 0) {
                word += hundreds[h];
                if (t > 0 || o > 0) word += ' و ';
            }

            if (t === 1) {
                word += teens[o];
            } else {
                if (t > 0) {
                    word += tens[t];
                    if (o > 0) word += ' و ';
                }
                if (o > 0) {
                    word += ones[o];
                }
            }
            return word;
        }

        const numStr = String(num);
        let words = [];
        let chunkCount = Math.ceil(numStr.length / 3);

        for (let i = 0; i < chunkCount; i++) {
            const startIndex = numStr.length - (i + 1) * 3;
            const endIndex = numStr.length - i * 3;
            const chunk = parseInt(numStr.substring(startIndex < 0 ? 0 : startIndex, endIndex));

            if (chunk > 0) {
                const chunkWord = convertThreeDigits(chunk);
                words.push(chunkWord + (i > 0 ? ' ' + scales[i] : ''));
            }
        }
        
        return words.reverse().join(' و ');
    }


    // رویداد برای هر بار تایپ کردن در فیلد قیمت
    priceInput.addEventListener('input', function(e) {
        // 1. دریافت مقدار خام و حذف کاماهای قبلی
        let rawValue = e.target.value.replace(/,/g, '');
        
        // اگر مقدار غیرعددی بود، آن را پاک می‌کنیم
        if (isNaN(rawValue)) {
            rawValue = rawValue.replace(/\D/g, '');
        }

        // 2. فرمت‌دهی عدد با جداکننده سه‌رقمی
        const formattedValue = rawValue.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
        
        // 3. قرار دادن مقدار فرمت‌شده در فیلد
        e.target.value = formattedValue;

        // 4. تبدیل عدد به حروف و نمایش آن
        const numberValue = parseInt(rawValue, 10);
        if (numberValue > 0) {
            priceWordsElement.textContent = numberToWords(numberValue) + ' تومان';
        } else {
            priceWordsElement.innerHTML = '&nbsp;'; // پاک کردن متن در صورت خالی بودن
        }
    });
    
    // اجرای اولیه برای مقادیری که از قبل در فیلد وجود دارند
    if(priceInput.value){
        priceInput.dispatchEvent(new Event('input'));
    }

});
</script>
<script>
    // مقادیر از Jinja درون جاوااسکریپت:
    const initialProvince = "{{ product.address.split('-')[0] if product else '' }}";
    const initialCity = "{{ product.address.split('-')[1] if product else '' }}";
</script>
<style>
    .image-upload-box {
        width: 120px;
        height: 120px;
        border: 2px dashed #0d6efd;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-align: center;
    }

    .image-upload-plus {
        font-size: 40px;
        color: #0d6efd;
    }

    .image-upload-text {
        font-size: 12px;
        color: #0d6efd;
        margin-top: 5px;
    }

    .image-upload-box:hover {
        background-color: var(--dark-green);
    }

    .image-upload-box:active {
        background-color: var(--black-color);
    }
    .progress {
    height: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    color: white;
}

.progress-bar {
    line-height: 20px;
    font-size: 12px;
    transition: width 0.4s ease;
}
#uploadProgress {
    display: block;
    height: 20px !important;
    background-color: #444;
    border: 1px solid #999;
}

#uploadProgressBar {
    background-color: #28a745;
    width: 0%;
    height: 100%;
    color: white;
    text-align: center;
}
</style>
<script>
    // پیدا کردن فرم با id مشخص شده
    const loginForm = document.getElementById('productForm');

    // اضافه کردن یک event listener برای رویداد 'submit' فرم
    loginForm.addEventListener('submit', function() {
        // پیدا کردن دکمه submit در داخل همین فرم
        const submitButton = loginForm.querySelector('button[type="submit"]');
        
        if (submitButton) {
            // حالا دکمه را غیرفعال کرده و اسپینر را نمایش می‌دهیم
            submitButton.disabled = true;
            submitButton.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> در حال بررسی...';
        }
    });
</script>


<script>
document.addEventListener('DOMContentLoaded', function () {
    // بازسازی پیش‌نمایش‌ها برای عکس‌های موجود در حالت ویرایش
    const hiddenInput = document.getElementById('uploaded_image_paths');
    if (hiddenInput.value) {
        const existingPaths = hiddenInput.value.split(',');
        existingPaths.forEach(path => {
            if (path) addPreview(path);
        });
    }

    // اتصال رویداد به اینپوت فایل
    document.getElementById('image').addEventListener('change', handleFileSelect);
});

function handleFileSelect(event) {
    const files = event.target.files;
    const previewContainer = document.getElementById('image-previews');
    const existingImagesCount = previewContainer.children.length;

    if (files.length + existingImagesCount > 3) {
        alert("شما حداکثر می‌توانید ۳ تصویر انتخاب کنید.");
        // پاک کردن انتخاب فعلی تا کاربر دوباره انتخاب کند
        event.target.value = ''; 
        return;
    }

    for (const file of files) {
        if (file && file.type.startsWith('image/')) {
            compressAndUpload(file);
        }
    }
    // پاک کردن مقدار اینپوت تا کاربر بتواند همان فایل را دوباره انتخاب کند
    event.target.value = ''; 
}

function compressAndUpload(file) {
    const reader = new FileReader();
    reader.onload = function(e) {
        const img = new Image();
        img.onload = function() {
            const MAX_WIDTH = 1000;
            const MAX_HEIGHT = 1000;
            let width = img.width;
            let height = img.height;

            if (width > height && width > MAX_WIDTH) {
                height *= MAX_WIDTH / width;
                width = MAX_WIDTH;
            } else if (height > MAX_HEIGHT) {
                width *= MAX_HEIGHT / height;
                height = MAX_HEIGHT;
            }

            const canvas = document.createElement('canvas');
            canvas.width = width;
            canvas.height = height;
            const ctx = canvas.getContext('2d');
            ctx.drawImage(img, 0, 0, width, height);

            canvas.toBlob(function(blob) {
                const formData = new FormData();
                formData.append('image', blob, file.name);
                uploadToServer(formData);
            }, 'image/jpeg', 0.8);
        };
        img.src = e.target.result;
    };
    reader.readAsDataURL(file);
}

function uploadToServer(formData) {
    const progressContainer = document.getElementById("uploadProgress");
    const progressBar = document.getElementById("uploadProgressBar");
    progressContainer.style.display = "block";
    progressBar.style.width = "0%";
    progressBar.innerText = "0%";
    document.getElementById("submitBtn").disabled = true;

    const xhr = new XMLHttpRequest();
    xhr.upload.addEventListener("progress", function(e) {
        if (e.lengthComputable) {
            const percent = Math.round((e.loaded / e.total) * 100);
            progressBar.style.width = percent + "%";
            progressBar.innerText = percent + "%";
        }
    });

    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                const data = JSON.parse(xhr.responseText);
                if (data.image_path) {
                    addPreview(data.image_path);
                    updateHiddenInput();
                    console.log("✅ آپلود موفق:", data.image_path);
                } else {
                    alert("❌ خطا در آپلود تصویر");
                }
            } else {
                alert("❌ ارتباط با سرور برقرار نشد");
            }
            // بعد از اتمام هر آپلود، دکمه را فعال و پروگرس را مخفی کن
            progressContainer.style.display = "none";
            document.getElementById("submitBtn").disabled = false;
        }
    };

    xhr.open("POST", "/upload-image", true);
    xhr.send(formData);
}

function addPreview(imagePath) {
    const previewContainer = document.getElementById('image-previews');
    const wrapper = document.createElement('div');
    wrapper.className = 'm-1 position-relative';
    wrapper.setAttribute('data-filename', imagePath);

    const img = document.createElement('img');
    img.src = `/static/uploads/${imagePath}`;
    img.className = 'img-thumbnail';
    img.style.height = '150px';
    img.style.width = 'auto';

    const removeBtn = document.createElement('button');
    removeBtn.type = 'button';
    removeBtn.className = 'btn btn-danger btn-sm position-absolute top-0 end-0';
    removeBtn.innerHTML = '&times;';
    removeBtn.onclick = function() {
        removePreview(removeBtn);
    };

    wrapper.appendChild(img);
    wrapper.appendChild(removeBtn);
    previewContainer.appendChild(wrapper);
}

function removePreview(buttonElement) {
    // پیدا کردن والد div که عکس و دکمه را در بر دارد
    const wrapper = buttonElement.parentElement;
    if (wrapper) {
        wrapper.remove();
        // پس از حذف از UI، فیلد مخفی را آپدیت کن
        updateHiddenInput();
    }
}

function updateHiddenInput() {
    const previewContainer = document.getElementById('image-previews');
    const images = previewContainer.querySelectorAll('div[data-filename]');
    const paths = Array.from(images).map(div => div.getAttribute('data-filename'));
    document.getElementById('uploaded_image_paths').value = paths.join(',');
}
</script>
<script>
    const toEnglishDigits = (str) => str.replace(/[۰-۹]/g, d => '۰۱۲۳۴۵۶۷۸۹'.indexOf(d));
    
    document.getElementById('price').addEventListener('input', function(e) {
        this.value = toEnglishDigits(this.value);
    });
  </script>
<script>
    // لیست شهرهای مربوط به هر استان
    if (!window.citiesByProvince) {
        window.citiesByProvince = {
    "آذربایجان شرقی": [
        "تبریز",
        "اسکو",
        "اهر",
        "بستان‌آباد",
        "بناب",
        "جلفا",
        "چاراویماق",
        "خداآفرین",
        "سراب",
        "شبستر",
        "عجب‌شیر",
        "کلیبر",
        "مراغه",
        "مرند",
        "ملکان",
        "میانه",
        "ورزقان",
        "هریس",
        "هشترود"
    ],
    "آذربایجان غربی": [
        "ارومیه",
        "اشنویه",
        "بوکان",
        "پلدشت",
        "پیرانشهر",
        "تکاب",
        "چالدران",
        "چایپاره",
        "خوی",
        "سردشت",
        "سلماس",
        "شاهین‌دژ",
        "شوط",
        "ماکو",
        "مهاباد",
        "میاندوآب",
        "نقده"
    ],
    "اردبیل": [
        "اردبیل",
        "بیله‌سوار",
        "پارس‌آباد",
        "خلخال",
        "سرعین",
        "کوثر",
        "گرمی",
        "مشگین‌شهر",
        "نمین",
        "نیر"
    ],
    "اصفهان": [
        "اصفهان",
        "آران و بیدگل",
        "اردستان",
        "برخوار",
        "بوئین و میاندشت",
        "تیران و کرون",
        "چادگان",
        "خمینی‌شهر",
        "خوانسار",
        "خور و بیابانک",
        "دهاقان",
        "سمیرم",
        "شاهین‌شهر و میمه",
        "شهرضا",
        "فریدن",
        "فریدون‌شهر",
        "فلاورجان",
        "کاشان",
        "گلپایگان",
        "لنجان",
        "مبارکه",
        "نائین",
        "نجف‌آباد",
        "نطنز"
    ],
    "البرز": [
        "کرج",
        "اشتهارد",
        "ساوجبلاغ",
        "طالقان",
        "فردیس",
        "نظرآباد"
    ],
    "ایلام": [
        "ایلام",
        "آبدانان",
        "ایوان",
        "بدره",
        "چرداول",
        "دره‌شهر",
        "دهلران",
        "سیروان",
        "ملکشاهی",
        "مهران"
    ],
    "بوشهر": [
        "بوشهر",
        "تنگستان",
        "جم",
        "دشتستان",
        "دشتی",
        "دیر",
        "دیلم",
        "کنگان",
        "گناوه"
    ],
    "تهران": [
        "تهران",
        "اسلامشهر",
        "بهارستان",
        "پاکدشت",
        "پردیس",
        "پیشوا",
        "دماوند",
        "رباط‌کریم",
        "ری",
        "شمیرانات",
        "شهریار",
        "فیروزکوه",
        "قدس",
        "قرچک",
        "ملارد",
        "ورامین"
    ],
    "چهارمحال و بختیاری": [
        "شهرکرد",
        "اردل",
        "بروجن",
        "بن",
        "سامان",
        "فارسان",
        "کوهرنگ",
        "کیار",
        "لردگان"
    ],
    "خراسان جنوبی": [
        "بیرجند",
        "بشرویه",
        "خوسف",
        "درمیان",
        "زیرکوه",
        "سرایان",
        "سربیشه",
        "طبس",
        "فردوس",
        "قائنات",
        "نهبندان"
    ],
    "خراسان رضوی": [
        "مشهد",
        "بردسکن",
        "بجستان",
        "تایباد",
        "تربت جام",
        "تربت حیدریه",
        "چناران",
        "خلیل‌آباد",
        "خواف",
        "درگز",
        "رشتخوار",
        "زاوه",
        "سبزوار",
        "سرخس",
        "فریمان",
        "قوچان",
        "کاشمر",
        "کلات",
        "گناباد",
        "مه‌ولات",
        "نیشابور"
    ],
    "خراسان شمالی": [
        "بجنورد",
        "اسفراین",
        "جاجرم",
        "راز و جرگلان",
        "شیروان",
        "فاروج",
        "گرمه",
        "مانه و سملقان"
    ],
    "خوزستان": [
        "اهواز",
        "آبادان",
        "امیدیه",
        "اندیکا",
        "اندیمشک",
        "ایذه",
        "باغ‌ملک",
        "باوی",
        "بهبهان",
        "حمیدیه",
        "خرمشهر",
        "دزفول",
        "دشت آزادگان",
        "رامشیر",
        "رامهرمز",
        "شادگان",
        "شوش",
        "شوشتر",
        "کارون",
        "گتوند",
        "لالی",
        "ماهشهر",
        "مسجدسلیمان",
        "هفتکل",
        "هندیجان",
        "هویزه"
    ],
    "زنجان": [
        "زنجان",
        "ابهر",
        "ایجرود",
        "خدابنده",
        "خرمدره",
        "سلطانیه",
        "طارم",
        "ماهنشان"
    ],
    "سمنان": [
        "سمنان",
        "دامغان",
        "سرخه",
        "شاهرود",
        "گرمسار",
        "مهدی‌شهر",
        "میامی"
    ],
    "سیستان و بلوچستان": [
        "زاهدان",
        "ایرانشهر",
        "چابهار",
        "خاش",
        "دلگان",
        "زابل",
        "زهک",
        "سراوان",
        "سرباز",
        "سیب و سوران",
        "فنوج",
        "قصرقند",
        "کنارک",
        "مهرستان",
        "میرجاوه",
        "نیک‌شهر"
    ],
    "فارس": [
        "شیراز",
        "آباده",
        "ارسنجان",
        "استهبان",
        "اقلید",
        "بوانات",
        "پاسارگاد",
        "جهرم",
        "خرامه",
        "خنج",
        "داراب",
        "زرین‌دشت",
        "سروستان",
        "سپیدان",
        "شیراز",
        "فراشبند",
        "فسا",
        "فیروزآباد",
        "قایمیه",
        "قیر و کارزین",
        "کازرون",
        "گراش",
        "لارستان",
        "لامرد",
        "مرودشت",
        "ممسنی",
        "نی‌ریز"
    ],
    "قزوین": [
        "قزوین",
        "آبیک",
        "البرز",
        "بوئین‌زهرا",
        "تاکستان",
        "آوج"
    ],
    "قم": [
        "قم"
    ],
    "کردستان": [
        "سنندج",
        "بانه",
        "بیجار",
        "دیواندره",
        "دهگلان",
        "سروآباد",
        "سقز",
        "قروه",
        "کامیاران",
        "مریوان"
    ],
    "کرمان": [
        "کرمان",
        "ارزوئیه",
        "انار",
        "بافت",
        "بردسیر",
        "بم",
        "جیرفت",
        "رابر",
        "راور",
        "رودبار جنوب",
        "ریگان",
        "زرند",
        "سیرجان",
        "شهربابک",
        "عنبرآباد",
        "فاریاب",
        "فهرج",
        "قلعه گنج",
        "کوهبنان",
        "کهنوج",
        "منوجان"
    ],
    "کرمانشاه": [
        "کرمانشاه",
        "اسلام‌آباد غرب",
        "پاوه",
        "ثلاث باباجانی",
        "جوانرود",
        "دالاهو",
        "روانسر",
        "سرپل ذهاب",
        "سنقر",
        "صحنه",
        "قصر شیرین",
        "کرند غرب",
        "کنگاور",
        "گیلانغرب",
        "هرسین"
    ],
    "کهگیلویه و بویراحمد": [
        "یاسوج",
        "باشت",
        "بویراحمد",
        "بهمئی",
        "چرام",
        "دنا",
        "کهگیلویه",
        "گچساران",
        "لنده"
    ],
    "گلستان": [
        "گرگان",
        "آزادشهر",
        "آق‌قلا",
        "بندر گز",
        "ترکمن",
        "رامیان",
        "علی‌آباد کتول",
        "کردکوی",
        "کلاله",
        "گالیکش",
        "گمیشان",
        "گنبد کاووس",
        "مراوه‌تپه",
        "مینودشت"
    ],
    "گیلان": [
        "رشت",
        "آستارا",
        "آستانه اشرفیه",
        "املش",
        "بندر انزلی",
        "تالش",
        "رودبار",
        "رودسر",
        "رضوانشهر",
        "سیاهکل",
        "شفت",
        "صومعه‌سرا",
        "فومن",
        "لاهیجان",
        "لنگرود",
        "ماسال"
    ],
    "لرستان": [
        "خرم‌آباد",
        "الیگودرز",
        "بروجرد",
        "پل‌دختر",
        "چگنی",
        "دلفان",
        "دورود",
        "رومشکان",
        "سلسله",
        "کوهدشت"
    ],
    "مازندران": [
        "ساری",
        "آمل",
        "بابل",
        "بابلسر",
        "بهشهر",
        "تنکابن",
        "جویبار",
        "چالوس",
        "رامسر",
        "سوادکوه",
        "عباس‌آباد",
        "فریدون‌کنار",
        "قائم‌شهر",
        "کلاردشت",
        "گلوگاه",
        "محمودآباد",
        "میاندرود",
        "نکا",
        "نور",
        "نوشهر"
    ],
    "مرکزی": [
        "اراک",
        "آشتیان",
        "تفرش",
        "خمین",
        "دلیجان",
        "زرندیه",
        "ساوه",
        "شازند",
        "کمیجان",
        "محلات"
    ],
    "هرمزگان": [
        "بندرعباس",
        "ابوموسی",
        "بستک",
        "بشاگرد",
        "بندر لنگه",
        "پارسیان",
        "جاسک",
        "حاجی‌آباد",
        "خمیر",
        "رودان",
        "سیریک",
        "قشم",
        "میناب"
    ],
    "همدان": [
        "همدان",
        "اسدآباد",
        "بهار",
        "تویسرکان",
        "رزن",
        "کبودرآهنگ",
        "ملایر",
        "نهاوند"
    ],
    "یزد": [
        "یزد",
        "ابرکوه",
        "اردکان",
        "اشکذر",
        "بافق",
        "بهاباد",
        "تفت",
        "خاتم",
        "مهریز",
        "میبد"
    ]
}
};


document.addEventListener("DOMContentLoaded", function () {
            const provinceSelect = document.getElementById("province");
            const citySelect = document.getElementById("city");

            provinceSelect.addEventListener("change", function () {
              const selectedProvince = this.value;
              const cities = citiesByProvince[selectedProvince] || [];
            
              // Clear previous cities
              citySelect.innerHTML = "";
            
              cities.forEach(function (city) {
                const option = document.createElement("option");
                option.value = city;
                option.textContent = city;
                citySelect.appendChild(option);
              });
        });

        // مقدار اولیه (برای حالت ویرایش)
        if (initialProvince && initialCity) {
            provinceSelect.value = initialProvince;
            const cities = citiesByProvince[initialProvince] || [];
            cities.forEach(function (city) {
                const option = document.createElement("option");
                option.value = city;
                option.textContent = city;
                if (city === initialCity) {
                    option.selected = true;
                }
                citySelect.appendChild(option);
            });
        }
    });
    console.log(citiesByProvince["تهران"]);


     function previewImage(event) {
        var output = document.getElementById('imagePreview');
        var file = event.target.files[0];
        var reader = new FileReader();
        
        reader.onload = function() {
            output.style.display = 'block';
            output.querySelector('img').src = reader.result;
        }
        
        if (file) {
            reader.readAsDataURL(file);
        }
    }

    // لغو انتخاب تصویر
    function removeImage() {
        const imagePath = document.getElementById('uploaded_image_path').value;
        
        if (imagePath) {
            fetch('/delete-uploaded-image', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ image_path: imagePath })
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    console.log("✅ فایل تصویر از سرور حذف شد.");
                } else {
                    console.error("❌ خطا در حذف فایل:", data.error);
                }
            })
            .catch(err => {
                console.error("❌ خطای ارتباط با سرور:", err);
            });
        }
    
        // پاک‌سازی UI
        const preview = document.getElementById('imagePreview');
        preview.style.display = 'none';
        preview.querySelector("img").src = '';
    
        const fileInput = document.getElementById('image');
        fileInput.value = '';
        if (fileInput.value) {
            const newInput = fileInput.cloneNode(true);
            fileInput.parentNode.replaceChild(newInput, fileInput);
            newInput.addEventListener('change', previewImage);
        }
    
        document.getElementById('uploaded_image_path').value = "";
        document.getElementById("submitBtn").disabled = true;
    }

</script>

{% endblock %}
