{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>تأیید شماره تلفن</h2>
        <form method="POST">
            <label for="code">کد ارسال‌شده را وارد کنید:</label>
            <input type="text" id="code" name="code" class="inputs" required>
            <button type="submit">تأیید</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
              {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    {% endblock %}
